<table class="table modositas">
  <thead>
    <th>Mintavétel dátuma</th>
    <th>Mintavétel helye</th>
    <th>Minta jele</th>
    <th>Res bemérés</th>
    <th>Res visszamérés</th>
    <th>Durva be</th>
    <th>Durva ki</th>
    <th>Mentés</th>
  </thead>
  <tbody>
    <tr>
      <td class="mintavetel-datuma">{{docs.mintavetel_datuma}}</td>
      <td class="mintavetel-helye" id="name">{{docs.mintavetel_helye}}</td>
      <td class="minta-jele">{{docs.minta_jele}}</td>
      <td class="res-bemeres"><input type="text" id="res-bemeres" /></td>
      <td class="res-vissza"><input type="text" id="res-vissza"/></td>
      <td class="durva-be"><input type="text" id="durva-be"/></td>
      <td class="durva-ki"><input type="text" id="durva-ki"/></td>
      <td><a id="szalloSave" class="btn" href="/szures-szallopor">Mentés</a></td>
    </tr>
  </tbody>
</table>