<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#newDoc" aria-controls="newDoc" role="tab" data-toggle="tab">Új dokumentum</a></li>
    <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Előnézet</a></li>
    <li role="presentation"><a href="#save" aria-controls="save" role="tab" data-toggle="tab">Mentés</a></li>
</ul>
     <form method="post" action="/document">
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newDoc">
            <div class="korker-form-container">
            </div>
            <hr />
            <label>Nyomtatvány hozzáadása</label>
            <select class="form-control" id="form-select">
                <option value="">Kérlek válassz</option>
                <option value="ivoviz">Mintavétel ivóvízből</option>
                <option value="szennyviz">Mintavétel szennyvízből</option>
                <option value="felszinalatt">Mintavétel felszínalatti vízekből</option>
                <option value="szallorost">Szállórost koncentráció vizsgálata</option>
                <option value="szallorostkonc">Szállórost koncentráció vizsgálata (egy minta)</option>
                <option value="szallopor">Munkahelyi szálló por koncentráció vizsgálata</option>
                <option value="adabmun">Adszorpciós/abszorpciós mintavétel - munkahelyi</option>
                <option value="emisszio">Emisszió</option>
            </select>
            <div class="row">
                <div class="col-xs-3">
                    <a class="btn btn-success" id="form-adder">Hozzáadás</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#saveLocals">Lokál mentés</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#getLocals" id="localOpener">Lokál előhívás</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-danger" id="form-delete">Az utolsó törlése</a>            
                </div>
            </div>
            <input type="hidden" name="forms" id="formNames" value="" />
    </div>
    <div role="tabpanel" class="tab-pane" id="preview">
        <div id="korkerContent">
            <img src="img/header.png" width="1200px" height="300px">
            <h1>Mintavételi jegyzőkönyv</h1>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="save">
        <a href="#" class="btn korker-doc">Dokumentum létrehozása</a>
        <div class="row">
            <a id="saveToDb" class="btn btn-primary">Adatok elmentése az adatbázisba</a>
        </div>
    </div>
</div>
</form>

{{> ivoviz-form }} 
{{> ivoviz-doc}} 

{{> szennyviz-form}}
{{> szennyviz-doc}}

{{> felszinalatt-form}}
{{> felszinalatt-doc}}

{{> szallopor-form}}
{{> szallopor-doc}}

{{> szallorostkonc-form}}
{{> szallorostkonc-doc}}

{{> szallorost-form}}
{{> szallorost-doc}}

{{> adabmun-form}}
{{> adabmun-doc}}

{{> emisszio-form}}
{{> emisszio-doc}}

<div class="modal fade" id="saveLocals" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">A form adatainak elmentése lokálisan</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Ezen a néven tudod majd előhívni a formot</label>
            <input type="text" value="" class="form-control" id="localName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="localSave">Mentés</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="getLocals" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Lokális form előhívása</h4>
      </div>
      <div class="modal-body">
            <label>Ezek a formok vannak lokálisan elmentve</label>
            <select id="localsList" class="form-control">

            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="localGet">Megjelenítés</button>
      </div>
    </div>
  </div>
</div>
