<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#newDoc" aria-controls="newDoc" role="tab" data-toggle="tab">Új dokumentum</a></li>
    <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Előnézet</a></li>
    <li role="presentation"><a href="#save" aria-controls="save" role="tab" data-toggle="tab">Mentés</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newDoc">
        <form method="post" action="/document">
            <div class="korker-form-container">
            </div>
            <hr />
            <label>Nyomtatvány hozzáadása</label>
            <select class="form-control" id="form-select">
                <option value="ivoviz">Mintavétel ivóvízből</option>
                <option value="szennyviz">Mintavétel szennyvízből</option>
                <option value="felszinalatt">Mintavétel felszínalatti vízekből</option>
                <option value="szallorost">Szállórost koncentráció vizsgálata</option>
                <option value="szallorostkonc">Szállórost koncentráció vizsgálata (egy minta)</option>
                <option value="szallopor">Munkahelyi szálló por koncentráció vizsgálata</option>
                <option value="adabmun">Adszorpciós/abszorpciós mintavétel - munkahelyi</option>
                <option value="emisszio">Emisszió</option>
            </select>
            <a class="btn btn-success" id="form-adder">Hozzáadás</a>
            <a class="btn btn-danger" id="form-delete">Az utolsó törlése</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="preview">
        <div id="korkerContent">
            <img src="img/header.png" width="1200px" height="300px">
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="save">
        <h1 style="text-align: left">Mentésre kerülő adatok</h1>
        <p>Sajnos elég sok idő mire az adatbázis feláll, a szerverünk pedig Skóciában van, szóval ez csak estére fog összeállni. Légyszíves ne kapcsoljátok ki éjjelre a tabletet és valahogy egyeztessünk a TeamViewer azonosítokkal kapcsolatban</p>
        <p><strong>Ettől függetlenül dokumentumot létre lehet hozni</strong></p>
        <a href="#" class="btn korker-doc">Dokumentum létrehozása</a>
        <div class="row">
            <button type="submit" class="btn btn-primary">Adatok elmentése az adatbázisba</button>
        </div>
        </form>
    </div>
</div>
{{> ivoviz-form }} 
{{> ivoviz-doc}} 

{{> szennyviz-form}}
{{> szennyviz-doc}}

{{> felszinalatt-form}}
{{> felszinalatt-doc}}

{{> szallopor-form}}
{{> szallopor-doc}}

{{> szallorostkonc-form}}
{{> szallorostkonc-doc}}

{{> szallorost-form}}
{{> szallorost-doc}}

{{> adabmun-form}}
{{> adabmun-doc}}

{{> emisszio-form}}
{{> emisszio-doc}}

