<div class="form-type" data-type="emisszio">
    <h1 class="text-center">Emissziómérés   </h1>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helye(név): </label>
            <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
        </div>
        <div class="form-group">
            <label>Mintavétel helyszíne(cím): </label>
            <input class="form-control" type="text" data-name="mintavetel_helyszine">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mérési hely</label>
            <input class="form-control" type="text" data-name="meresi_hely">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel dátuma</label>
            <input class="form-control" type="date" name="datum" data-name="datum">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Mintavevő típusa</label>
                    <input type="text" data-name="mintavevo_tipusa" class="form-control label-input">
                </div>
                <div class="col-sm-6">
                    <label>Mintavevő száma</label>
                    <input type="text" data-name="mintavevo_szama" class="form-control value-input">
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-mark="#myModal">
                Hozzáadás
            </button>
        </div>
        <div class="modal fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mintavevők típusa</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="gepform-container">
                            <div class="row" id="gep-form">
                                <div class="form-group">
                                    <select data-name="mintavetel_celja" class="component-label">
                                        <option value=''>Kérem válasszon</option>
                                        <option value="Kálmán-System-KS-502">Kálmán System KS-502</option>
                                        <option value="Kálmán-System-KS-408">Kálmán System KS-408</option>
                                        <option value="Kálmán-System-KS-409">Kálmán System KS-409</option>
                                        <option value="Kálmán-System-KS-407">Kálmán System KS-407</option>
                                        <option value="Pormérő_Rietschle-VTE6-vákumszívattyú">Pormérő Rietschle VTE6 vákumszívattyú</option>
                                        <option value=" Schlumberger-Gallus-2000-gázóra"> Schlumberger Gallus 2000 gázóra</option>
                                    </select>
                                </div>
                                <div class="form-group component-value">
                                    <select data-name="sorszam">
                                        <option class="none" value=''>Kérem válasszon</option>
                                        <option value="102005112005" class="Kálmán-System-KS-502">102005112005</option>
                                        <option value="122005132005" class="Kálmán-System-KS-502">122005132005</option>
                                        <option value="142005152005" class="Kálmán-System-KS-502">142005152005</option>
                                        <option value="172005" class="Kálmán-System-KS-408">172005</option>
                                        <option value="042005" class="Kálmán-System-KS-409">042005</option>
                                        <option value="52005" class="Kálmán-System-KS-407">52005</option>
                                        <option value="1929142" class="Pormérő_Rietschle-VTE6-vákumszívattyú">1929142</option>
                                        <option value="790582" class="Schlumberger-Gallus-2000-gázóra">790582</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary" id="addGep">Gép hozzáadása</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal-save" data-dismiss="modal">Mentés</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Légnyomás: </label>
                <input type="text" class="form-control" data-name="legnyomas" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Páratartalom: </label>
                <input type="text" class="form-control" data-name="para" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Hőmérséklet: </label>
                <input type="text" class="form-control" data-name="homerseklet" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A hordozógáz (levegő) hőmérséklete: </label>
                <input type="text" class="form-control" data-name="hordozogaz" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A hordozógáz (levegő) statikus nyomása: </label>
                <input type="text" class="form-control" data-name="statikus_nyomasa" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mérési keresztmetszet: </label>
                <input type="text" class="form-control" data-name="meresi_keresztmetszet" />
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th></th>
                    <th colspan="18" class="text-center">Dinamikus nyomás (pa)</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-center">1.</td>
                        <td colspan="3" class="text-center">2.</td>
                        <td colspan="3" class="text-center">3.</td>
                        <td colspan="3" class="text-center">4.</td>
                        <td colspan="3" class="text-center">5.</td>
                        <td colspan="3" class="text-center">6.</td>
                    </tr>
                    <tr>
                        <td rowspan="2">I.</td>
                        <td>
                            <input type="text" data-name="n1_1" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_2" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_3" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_4" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_5" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_6" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_7" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_8" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_9" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_10" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_11" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_12" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_13" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_14" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_15" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_16" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_17" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_18" style="width: 29px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" data-name="n1_19" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_20" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_21" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_22" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_23" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_24" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_25" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_26" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_27" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_28" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_29" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_30" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_31" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_32" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_33" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_34" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_35" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n1_36" style="width: 29px;">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">II.</td>
                        <td>
                            <input type="text" data-name="n2_1" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_2" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_3" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_4" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_5" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_6" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_7" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_8" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_9" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_10" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_11" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_12" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_13" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_14" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_15" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_16" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_17" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_18" style="width: 29px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" data-name="n2_19" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_20" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_21" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_22" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_23" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_24" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_25" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_26" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_27" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_28" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_29" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_30" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_31" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_32" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_33" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_34" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_35" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n2_36" style="width: 29px;">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">III.</td>
                        <td>
                            <input type="text" data-name="n3_1" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_2" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_3" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_4" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_5" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_6" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_7" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_8" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_9" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_10" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_11" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_12" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_13" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_14" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_15" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_16" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_17" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_18" style="width: 29px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" data-name="n3_19" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_20" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_21" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_22" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_23" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_24" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_25" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_26" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_27" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_28" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_29" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_30" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_31" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_32" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_33" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_34" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_35" style="width: 29px;">
                        </td>
                        <td>
                            <input type="text" data-name="n3_36" style="width: 29px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <p>Nedvességtartalom mérése</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Minta jele</th>
                            <th>Mv. kezd</th>
                            <th>Mv. vége</th>
                            <th>Gázóra kezd.</th>
                            <th>Gázóra vége.</th>
                            <th>Nyomás</th>
                            <th>Hőmérséklet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" data-name="n_minta_jele1" name="n_minta_jele[]">
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_kezd1"></input>
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_veg1"></input>
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_kezd1">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_vege1">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="homerseklet1">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="nyomas1">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="text" data-name="n_minta_jele2" name="n_minta_jele[]">
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_kezd2"></input>
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_veg2"></input>
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_kezd2">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_vege2">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="homerseklet2">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="nyomas2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="text" data-name="n_minta_jele3" name="n_minta_jele[]">
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_kezd3"></input>
                            </td>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="n_minta_veg3"></input>
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_kezd3">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="gazora_vege3">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="homerseklet3">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-name="nyomas3">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-emisszio="fustgaz" class="hidden">
                <h2>Füstgáz</h2>
                <div class="form-group">
                    <label>Füstgáz mintavétel kezdete:</label>
                    <input class="form-control" type="text" data-name="fustgaz_kezd">
                </div>
                <div class="form-group">
                    <label>Füstgáz mintavétel vége:</label>
                    <input class="form-control" type="text" data-name="fustgaz_veg">
                </div>
            </div>
            <div data-emisszio="szilard" class="hidden">
                <h2>Szilárd</h2>
                <div class="form-group">
                    <label>Hőmérséklet a gázórában:</label>
                    <input class="form-control" type="text" data-name="homerseklet_a_g">
                </div>
                <div class="form-group">
                    <label>Nyomás a gázórában: </label>
                    <input class="form-control" type="text" data-name="nyomas_a_g">
                </div>
                <div class="form-group">
                    <label>Beszívócső mérete: </label>
                    <input class="form-control" type="text" data-name="beszivocso_merete">
                </div>
                <div class="form-group">
                    <label>Részgázáram: </label>
                    <input class="form-control" type="text" data-name="reszgazaram">
                </div>
                <div class="form-group">
                    <label>R1: </label>
                    <input class="form-control" type="text" data-name="r1">
                </div>
                <div class="form-group">
                    <label>R2: </label>
                    <input class="form-control" type="text" data-name="r2">
                </div>
                <div class="form-group">
                    <label>R3: </label>
                    <input class="form-control" type="text" data-name="r3">
                </div>
                <div class="form-group">
                    <label>R4: </label>
                    <input class="form-control" type="text" data-name="r4">
                </div>
                <div class="form-group">
                    <label>R5: </label>
                    <input class="form-control" type="text" data-name="r5">
                </div>
                <div class="form-group">
                    <label>Korom mintavétel</label>
                    <select class="form-control" data-name="korom" name="korom">
                        <option value="van">Van</option>
                        <option value="nincs">Nincs</option>
                    </select>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <th>Minta jele</th>
                            <th>Idő kezd</th>
                            <th>Idő vége</th>
                            <th>Gázóra kezd.</th>
                            <th>Gázóra vége.</th>
                            <th>Nyomás kezd</th>
                            <th>Nyomás vége</th>
                            <th>Hőmérséklet</th>
                            <th>Vizsgáló laboratórium</th>
                            <th>Vizsgált komponensek</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" data-name="szilard_minta_jele1" name="szilard_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_kezd1"></input>
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_veg1"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_kezd1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_veg1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="k_mbar1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="v_mbar1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="homers1">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab1" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek1" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" data-name="szilard_minta_jele2" name="szilard_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_kezd2"></input>
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_veg2"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_kezd2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_veg2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="k_mbar2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="v_mbar2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="homers2">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab2" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek2" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" data-name="szilard_minta_jele3" name="szilard_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_kezd3"></input>
                                </td>
                                <td>
                                    <input class="form-control" class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" data-name="szilard_minta_veg3"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_kezd3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="g_veg3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="k_mbar3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="v_mbar3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="homers3">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab3" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek3" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hidden" data-emisszio="adabem">
                <div class="row">
                    <h2>Adabem</h2>
                    <p>Szakaszos mintavétel</p>
                    <table class="table">
                        <thead>
                            <th>Minta jele</th>
                            <th>Idő kezd</th>
                            <th>Idő vége</th>
                            <th>Gázóra kezd.</th>
                            <th>Gázóra vége.</th>
                            <th>Nyomás</th>
                            <th>Hőmérséklet</th>
                            <th>Mintagáz térfogata</th>
                            <th>Vizsgáló laboratórium</th>
                            <th>Vizsgált komponensek</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" class="form-control" type="text" data-name="adabem_minta1" name="adabem_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_kezd1">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_veg1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gkd1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gvg1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ht1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ny1">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="mterf1">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab1" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek1" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" data-name="adabem_minta2" name="adabem_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_kezd2">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_veg2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gkd2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gvg2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ht2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ny2">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="mterf2">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab2" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek2" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" data-name="adabem_minta3" name="adabem_minta_jele[]">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_kezd3">
                                </td>
                                <td>
                                    <input class="form-control" data-format="hh:mm:ss" type="text" data-name="adabem_veg3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gkd3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="gvg3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ht3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="ny3">
                                </td>
                                <td>
                                    <input class="form-control" type="text" data-name="mterf3">
                                </td>
                                <td>
                                    <select name="vizsgalo_lab3" class="combobox">
                                        <option value="">Válassz</option>
                                        <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                                        <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                                        <option value="KVI Plus kft.">KVI plus kft.</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="vizsgalt_komponensek3" class="combobox">
                                        <option value="">Kérlek válassz</option>
                                        <option value="szerves anyagok">Szerves anyagok</option>
                                        <option value="fémek">Fémek</option>
                                        <option value="Sósav">Sósav</option>
                                        <option value="Kénsav">Kénsav</option>
                                        <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-emisszio="elegetlen" class="hidden">
                <h2>Elégetlen szerves vegyületek</h2>
                <div class="form-group">
                    <label>Mintavétel kezdete</label>
                    <input class="form-control" type="text" data-name="e_kezd1">
                </div>
                <div class="form-group">
                    <label>Mintavétel vége: </label>
                    <input class="form-control" type="text" data-name="e_veg1">
                </div>
                <div class="form-group">
                    <label>Mérési tartomány</label>
                    <select class="form-control" data-name="meresi_tartomany">
                        <option value="10">10</option>
                        <option value="100">100</option>
                        <option value="10000">10000</option>
                        <option value="100000">100000</option>
                        <option value="1000000">1000000</option>
                    </select>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-target="fustgaz" value="">Füstgáz</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-target="szilard" value="">Szilárd</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-target="adabem" value="">AdAbEm</label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-target="elegetlen" value="">Elégetlen szerves vegyületek mérése</label>
            </div>
            <div class="row">
                <div class="form-group">
                    <span>Rotaméter</span>
                    <select class="combobox" data-name="rotameter">
                        <option value="">Válassz</option>
                        <option value="94-168-1838">94-168-1838</option>
                        <option value="10-323-339">10-323-339</option>
                        <option value="11-130-141">11-130-141</option>
                        <option value="13-146-1">13-146-1</option>
                    </select>
                    <span>Mikroszkóp</span>
                    <select class="combobox" data-name="mikroszkop">
                        <option value="">Válassz</option>
                        <option value="zeiss_jenamed_variant">Zeiss Jenamed Variant; 742760</option>
                        <option value="olympus_15069">Olympus; 15069</option>
                        <option value="leica_dm_2700p">Leica DM 2700P</option>
                    </select>
                    <span>Hőmérséklet, páratartalom mérő:</span>
                    <select class="combobox" data-name="paratartalom_mero">
                        <option value="">Válassz</option>
                        <option value="testo_645_143190">Testo 645;143190</option>
                        <option value="testo_435_1559658">Testo 435; 1559658</option>
                        <option value="testo_405_V1">Testo 405-V1</option>
                    </select>
                    <span>Barométer</span>
                    <select class="combobox" data-name="barometer">
                        <option value="">Válassz</option>
                        <option value="Stieber_DM_120B/M_1149">Stieber DM 120B/M; 1149</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <span>Alkalmazott eszközök</span>
                <br>
                <textarea data-name="alkalmazott eszközök"></textarea>
            </div>
            <br style="page-break-before: always">
            <div class="row">
                <span>Üzemviteli és mintavételi körülmények:</span>
                <br>
                <textarea data-name="uzemviteli"></textarea>
                <div class="row">
                    <div class="col-sm-12">
                        <video class="video-uzemviteli" width="350" height="260" autoplay></video>
                        <span class="snap-uzemviteli btn btn-default">Fotó</span>
                        <canvas class="canvas-uzemviteli hidden" width="350" height="260"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <span>Mellékletek </span>
                    <br>
                    <textarea type="text" data-name="mellekletek"></textarea>
                </div>
            </div>
            <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette1">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette2">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette3">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette4">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        </div>
    </div>
</div>
