<div class="doc-type" data-doc-type="emisszio">
    <h2 style="text-align: center;">Emissziómérés</h2>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td colspan="2"><strong>Mintavétel helye(név):</strong> <span class="mintavetel_helye"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Mintavétel helyszíne(cím):</strong> <span class="mintavetel_helyszine"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Mérési hely: </strong> <span class="meresi_hely"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Dátum:</strong> <span class="datum"></span></td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>A környezeti levegő paraméterei:</strong>
                <br /> Légnyomás: <span class="legnyomas"></span> mbar Páratartalom: <span class="para"></span> % Hőmérséklet: <span class="homerseklet"></span> °C
            </td>
        </tr>
        <tr>
            <td><strong>Térfogatáram mérése: </strong></td>
        </tr>
        <tr>
            <td>A hordozógáz (levegő) hőmérséklete:</td>
            <td><span class="hordozogaz"></span> °C</td>
        </tr>
        <tr>
            <td>statikus nyomása:</td>
            <td><span class="statikus_nyomasa"></span> Pa</td>
        </tr>
        <tr>
            <td>Mérési keresztmetszet:</td>
            <td><span class="meresi_keresztmetszet"></span> mm</td>
        </tr>
    </table>
    <br style="page-break-before: always">
    <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
        <tr>
            <td style="border: 1px solid black; text-align: center;"></td>
            <td colspan="18" style="border: 1px solid black; text-align: center;"><strong>Dinamikus nyomás Pa </strong></td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 1px solid black; text-align: center;">I.</td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_5">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_6">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_7">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_8">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_9">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_10">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_11">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_12">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_13">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_14">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_15">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_16">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_17">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_18">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_19">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_20">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_21">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_22">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_23">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_24">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_25">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_26">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_27">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_28">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_29">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_30">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_31">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_32">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_33">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_34">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_35">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n1_36">-</span></td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 1px solid black; text-align: center;">II.</td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_5">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_6">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_7">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_8">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_9">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_10">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_11">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_12">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_13">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_14">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_15">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_16">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_17">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_18">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_19">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_20">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_21">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_22">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_23">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_24">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_25">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_26">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_27">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_28">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_29">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_30">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_31">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_32">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_33">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_34">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_35">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n2_36">-</span></td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 1px solid black; text-align: center;">III.</td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_5">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_6">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_7">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_8">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_9">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_10">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_11">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_12">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_13">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_14">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_15">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_16">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_17">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_18">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_19">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_20">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_21">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_22">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_23">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_24">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_25">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_26">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_27">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_28">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_29">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_30">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_31">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_32">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_33">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_34">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_35">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n3_36">-</span></td>
        </tr>
    </table>
    <p><strong>Nedvességtartalom mérése</strong></p>
    <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
        <tr>
            <td style="border: 1px solid black; text-align: center;">Minta jele</td>
            <td style="border: 1px solid black; text-align: center;">Mv. kezd</td>
            <td style="border: 1px solid black; text-align: center;">Mv. vége</td>
            <td style="border: 1px solid black; text-align: center;">Gázóra kezd
                <br> m3</td>
            <td style="border: 1px solid black; text-align: center;">Gázóra vége
                <br> m3</td>
            <td style="border: 1px solid black; text-align: center;">Nyomás
                <br> mbar</td>
            <td style="border: 1px solid black; text-align: center;">Hőmérséklet
                <br> °C</td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_jele1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_kezd1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_veg1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_kezd1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_vege1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="nyomas1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_jele2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_kezd2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_veg2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_kezd2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_vege2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="nyomas2">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_jele3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_kezd3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="n_minta_veg3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_kezd3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="gazora_vege3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="nyomas3">-</span></td>
        </tr>
    </table>
    <div data-emisszio="fustgaz" class="hidden">
        <h2>Füstgáz</h2>
        <table>
            <tr>
                <td>
                    <strong>Füstgáz mintavétel kezdete: </strong><span class="fustgaz_kezd"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Füstgáz mintavétel vége: </strong><span class="fustgaz_veg"></span>
                </td>
            </tr>
        </table>
    </div>
    <div data-emisszio="szilard" class="hidden">
        <br style="page-break-before: always">
        <h2>SZILÁRD ANYAG MINTAVÉTEL</h2>
        <table>
            <tr>
                <td>
                    <strong>Hőmérséklet a gázórában:: </strong><span class="homerseklet_a_g"></span> °C
                </td>
            </tr>
            <tr>
                <td>
                    <strong> Nyomás a gázórában: </strong><span class="nyomas_a_g"></span> bar
                </td>
            </tr>
            <tr>
                <td>Beszívócső mérete: <span class="beszivocso_merete"></span> mm
                    <td>Részgázáram: <span class="reszgazaram"></span>m 3 /h
            </tr>
            <tr>
                <td>Részgázáram 1: <span class="R1"></span> 2: <span class="R2"></span> 3: <span class="R3"></span> 4: <span class="R4"></span> 5: <span class="R5"></span> 6: <span class="R6"></span> m3 / h
            </tr>
        </table>
        <p><strong>Szilárd anyag mintavétel:</strong>
            <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
                <tr>
                    <td style="border: 1px solid black; text-align: center;">Minta jele</td>
                    <td style="border: 1px solid black; text-align: center;">Idő kezd</td>
                    <td style="border: 1px solid black; text-align: center;">Idő vége</td>
                    <td style="border: 1px solid black; text-align: center;">Gázóra kezd
                        <br> m3</td>
                    <td style="border: 1px solid black; text-align: center;">Gázóra vége
                        <br> m3</td>
                    <td style="border: 1px solid black; text-align: center;">Nyomás kezd
                        <br> mbar</td>
                    <td style="border: 1px solid black; text-align: center;">Nyomás vége
                        <br> mbar</td>
                    <td style="border: 1px solid black; text-align: center;">Hőmérséklet
                        <br> °C</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_jele1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_kezd1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_veg1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_kezd1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_veg1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="k_mbar1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="v_mbar1">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="homers1">-</span></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_jele2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_kezd2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_veg2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_kezd2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_veg2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="k_mbar2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="v_mbar2">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="homers2">-</span></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_jele3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_kezd3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="szilard_minta_veg3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_kezd3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="g_veg3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="k_mbar3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="v_mbar3">-</span></td>
                    <td style="border: 1px solid black; text-align: center;"><span class="homers3">-</span></td>
                </tr>
            </table>
    </div>
    <div data-emisszio="adabem" class="hidden">
        <h2>ADSZORPCIÓS/ABSZORPCIÓS MINTAVÉTEL</h2>
        <p><strong>Szakaszos mintavetel</strong></p>
        <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
            <tr>
                <td style="border: 1px solid black; text-align: center;">Minta jele</td>
                <td style="border: 1px solid black; text-align: center;">Idő kezd</td>
                <td style="border: 1px solid black; text-align: center;">Idő vége</td>
                <td style="border: 1px solid black; text-align: center;">Gázóra kezd
                    <br> m3</td>
                <td style="border: 1px solid black; text-align: center;">Gázóra vége
                    <br> m3</td>
                <td style="border: 1px solid black; text-align: center;">Nyomás kezd
                    <br> mbar</td>
                <td style="border: 1px solid black; text-align: center;">Nyomás vége
                    <br> mbar</td>
                <td style="border: 1px solid black; text-align: center;">Hőmérséklet
                    <br> °C</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_minta1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_kezd1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_veg1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gkd1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gvg1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ht1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ny1">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="mterf1">-</span></td>
            </tr>
            <tr>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_minta2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_kezd2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_veg2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gkd2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gvg2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ht2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ny2">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="mterf2">-</span></td>
            </tr>
            <tr>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_minta3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_kezd3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="adabem_veg3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gkd3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="gvg3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ht3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="ny3">-</span></td>
                <td style="border: 1px solid black; text-align: center;"><span class="mterf3">-</span></td>
            </tr>
        </table>
    </div>
    <div data-emisszio="elegetlen" class="hidden">
        <h2>ELÉGETLEN SZERVES SZÉNVEGYÜLETEK MÉRÉSE</h2>
        <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px; border: 1px solid black; text-align: center;">
            <tr>
                <td style="border: 1px solid black; text-align: center;">Mintavétel kezdete:</td>
                <td style="border: 1px solid black; text-align: center;">Mintavétel vége:</td>
                <td style="border: 1px solid black; text-align: center;">Mérési tartomány: </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; text-align: left; width: 33%;">
                    <span class="e_kezd1"></span>
                </td>
                <td style="border: 1px solid black; text-align: center; width: 33%;">
                    <span class="e_veg1"></span>
                </td>
                <td style="border: 1px solid black; text-align: right; width: 33%;">
                    <span class="meresi_tartomany"></span>
                </td>
            </tr>
        </table>
    </div>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="15">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p>Barométer:<span class="barometer"></span></p>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása:</p>
    <table>
            <tr>
                <td width="25%"><span class="keszitette1"></span>
                <td width="25%"><span class="keszitette2"></span>
                <td width="25%"><span class="keszitette3"></span>
                <td width="25%"><span class="keszitette4"></span>
            </tr>
        </table>
    <br style="page-break-before: always">
</div>
