<div class="form-type" data-type="felszinalatt">
    <h1 class="text-center">Mintavétel felszínalatti vizekből</h1>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helye(név): </label>
            <input class="form-control" type="text" data-name="mintavetel_helyszine" name="mintavetel_helye">
        </div>
        <div class="form-group">
            <label>Mintavétel helyszíne: </label>
            <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mérési hely: </label>
            <input class="form-control" type="text" name="meresi_hely" data-name="meresi_hely">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavételi hely meghatározása</label>
            <input class="form-control" type="text" name="mintaveteli_hely" data-name="mintaveteli_hely">
        </div>
        <div class="form-group">
            <label>A szűrőzés adatai</label>
            <input class="form-control" type="text" name="szurozes_adatai" data-name="szurozes_adatai">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Kútanyag</label>
            <input class="form-control" type="text" name="kutanyag" data-name="kutanyag">
        </div>
        <div class="form-group">
            <label>Talpmélység</label>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="talpmelyseg" data-name="talpmelyseg">
                        </div>
                        <div class="col-sm-2">
                            <span>mbf</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="mbf" data-name="mbf">
                        </div>
                        <div class="col-sm-2">
                            <span>m</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Vizsgálandó komponensek</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control value-input" type="text" name="komponensek" data-name="komponensek">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-mark="#myModal">Vizsgalando komponensek</button>
                </div>
            </div>
            <div class="modal fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Vizsgálandó komponensek</h4>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row">
                                <div class="form-group">
                                    <select name="mintavetel_celja" data-name="mintavetel_celja" class="component-label hidden">
                                        <option value=''>Kérem válasszon</option>
                                        <option value="Baktérium">Baktérium</option>
                                        <option value="kemiai">Kémiai</option>
                                    </select>
                                </div>
                                <div class="form-group component-value">
                                    <select>
                                        <option value=''>Kérem válasszon</option>
                                        <optioFn value="pH" class="Baktérium">pH</option>
                                            <option value="oldott oxigén" class="Baktérium">oldott oxigén</option>
                                            <option value="fajl. vez.képesség" class="Baktérium">fajl. vez.képesség</option>
                                            <option value="klorid" class="Baktérium">klorid</option>
                                            <option value="szulfát" class="Baktérium">szulfát</option>
                                            <option value="ammónia" class="Baktérium">ammónia</option>
                                            <option value="nitrit" class="Baktérium">nitrit</option>
                                            <option value="nitrát" class="Baktérium">nitrát</option>
                                            <option value="foszfát" class="Baktérium">foszfát</option>
                                            <option class="kemiai" val="KOI ps">KOI ps</option>
                                            <option class="kemiai" val="higany">higany</option>
                                            <option class="kemiai" val="arzén">arzén</option>
                                            <option class="kemiai" val="króm">króm</option>
                                            <option class="kemiai" val="nikkel">nikkel</option>
                                            <option class="kemiai" val="ólom">ólom</option>
                                            <option class="kemiai" val="Réz">Réz</option>
                                            <option class="kemiai" val="cink">cink</option>
                                            <option class="kemiai" val="PCB">PCB</option>
                                            <option class="kemiai" val="TPH (GC)">TPH (GC)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="modal-save" data-dismiss="modal">Mentés</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>A tartósítás módja</label>
                    <input class="form-control" name="tartositas_modja" data-name="tartositas_modja" type="text" />
                </div>
            </div>
            <h2>Helyszíni adatok</h2>
            <div class="row">
                <div class="form-group">
                    <label>Mintavetel ideje</label>
                    <input class="form-control" name="datum" data-name="datum" type="date" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Vizmintakód</label>
                    <input class="form-control" data-name="vizmintakod" name="viz_minta_jele[]" type="text" />
                </div>
            </div>
            <div class="row">
                <label>Vizsgáló laboratórium</label>
                <select name="vizsgalo_lab1" data-name="vizsgalo_lab1" class="combobox">
                    <option value="">Válassz</option>
                    <option value="Kör-Ker Kft.">Kör-ker Kft</option>
                    <option value="Környezettechnologia kft.">Környezettechnológiai kft.</option>
                    <option value="KVI Plus kft.">KVI plus kft.</option>
                </select>
            </div>
            <div class="row">
                <label>Vizsgált komponensek</label>
                <select name="vizsgalt_komponensek1" data-name="vizsgalt_komponensek1" class="combobox">
                    <option value="">Kérlek válassz</option>
                    <option value="szerves anyagok">Szerves anyagok</option>
                    <option value="fémek">Fémek</option>
                    <option value="Sósav">Sósav</option>
                    <option value="Kénsav">Kénsav</option>
                    <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                </select>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Szivattyúzás előtti vízszint</label>
                    <input class="form-control" type="text" name="szivattyuzas" data-name="szivattyuzas" />
                </div>
                <div class="col-sm-6">
                    <label>Talpmélység:</label>
                    <input class="form-control" type="text" name="talpmelyseg" data-name="talpmelyseg" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Vízoszlop</label>
                    <input class="form-control" type="text" name="vizoszlop" data-name="vizoszlop" />
                </div>
                <div class="col-sm-6">
                    <label>Csőátmérő:</label>
                    <input class="form-control" type="text" name="csoatmero" data-name="csoatmero" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>A számítással meghatározott háromszoros térfogat:</label>
                    <input class="form-control" type="text" name="szamitassal_meghatarozott" data-name="szamitassal_meghatarozott" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Kitermelt víz térfogata (L):</label>
                    <input class="form-control" type="text" name="kitermelt_viz" data-name="kitermelt_viz" />
                </div>
            </div>
            <h2>Tisztító szivattyúzás adatai</h2>
            <div class="row">
                <table class="table">
                    <thead>
                        <th>Időpont</th>
                        <th>Hozam</th>
                        <th>Vízszint</th>
                        <th>Vezetőképesség</th>
                        <th>Vízhőmérséklet</th>
                        <th>ph</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="ido1" data-name="ido1"></input>
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="hozam1" data-name="hozam1">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizszint1" data-name="vizszint1">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vezeto1" data-name="vezeto1">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizho1" data-name="vizho1">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="ph1" data-name="ph1">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="ido2" data-name="ido2"></input>
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="hozam2" data-name="hozam2">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizszint2" data-name="vizszint2">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vezeto2" data-name="vezeto2">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizho2" data-name="vizho2">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="ph2" data-name="ph2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="ido3" data-name="ido3"></input>
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="hozam3" data-name="hozam3">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizszint3" data-name="vizszint3">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vezeto3" data-name="vezeto3">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="vizho3" data-name="vizho3">
                            </td>
                            <td>
                                <input type="text" class="form-control" / name="ph3" data-name="ph3">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="span6">
                    <span>Készítette</span>
                    <select class="combobox" name="keszitette" data-name="keszitette">
                        <option value="">Válassz</option>
                        <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                        <option value="Czap Zoltán">Czap Zoltán</option>
                        <option value="Czap Gergely">Czap Gergely</option>
                        <option value="Lovas Péter">Lovas Péter</option>
                        <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                        <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
