<div class="doc-type" data-doc-type="felszinalatt">
    <h2 style="text-align: center;">Mintavétel felszín alatti vizekből</h2>
    <p style="line-height: 5px;">Mintavétel helye(név): <span class="mintavetel_helye"></span></p>
    <p style="line-height: 5px;">Mintavétel helyszíne(cím): <span class="mintavetel_helyszine"></span></p>
    <p style="line-height: 5px;">Mérési hely: <span class="meresi_hely"></span></p>
    <p style="line-height: 5px;">Mintavétel dátuma: <span class="datum"></span></p>
    <p style="line-height: 5px;">Szűrőzés adatai: <span class="szurozes_adatai"></span></p>
    <p style="line-height: 5px;">Kútanyag: <span class="kutanyag"></span></p>
    <p style="line-height: 5px;">Talpmélység: <span class="talpmelyseg"></span> mbf <span class="mbf"></span> m</p>
    <table>
        <tr>
            <td style="vertical-align: top;">Mintavételi szabvány száma:</td>
            <td style="padding-left: 20px;">MSZ ISO 5667-11:2009 2. (visszavont szabvány),
                <br /> MSZ EN ISO 19458:2007, MSZ 22902-1:1989 3. fejezet
                <br>
        </tr>
    </table>
    <p>Vizsgálandó komponensek: <span class="komponensek_label" style="padding-right: 20px;"></span><span class="komponensek"> </span></p>
    <p>A tartósításra vonatkozó szabvány száma: MSZ EN ISO 5667-3:2004 (visszavont szabvány)</p>
    <p>A tartósítás módja: <span class="tartositas_modja"></span></p>
    <strong>Helyszíni adatok</strong>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>Vízmintakód: <span class="vizmintakod"></span></p>
    <p>Tisztító szivattyúzásra vonatkozó adatok:</p>
    <table style="margin-left: 30px;">
        <tr>
            <td>Szivattyúzás előtti vízszint: <span class="szivattyuzas"></span> m</td>
            <td>Talpmélység: <span class="talpmelyseg"></span> m</td>
        </tr>
        <tr>
            <td>Vízoszlop: <span class="vizoszlop"></span> m</td>
            <td>Csőátmérő: <span class="csoatmero"></span> mm</td>
        </tr>
        <tr>
            <td>A számítással meghatározott háromszoros térfogat: <span class="szamitassal_meghatarozott"></span></td>
        </tr>
        <tr>
            <td>Kitermelt víz térfogata (L): <span class="kitermelt_viz"></span> m</td>
        </tr>
    </table>
    <p>Tisztító szivattyúzás adatai: </p>
    <table style="border: 1px solid black; border-collapse: collapse; border-bottom: 0">
        <tr>
            <td style="border: 1px solid black; text-align: center;">időpont</td>
            <td style="border: 1px solid black; text-align: center;">hozam
                <br>L/min</td>
            <td style="border: 1px solid black; text-align: center;">vízszint
                <br>cm</td>
            <td style="border: 1px solid black; text-align: center;">vezetőképesség
                <br>(MSZ EN 27888:1998)
                <br>µS/cm</td>
            <td style="border: 1px solid black; text-align: center;">vízhőmérséklet
                <br>(MSZ 448-2:1967
                <br>(visszavont szabvány))
                <br>°C</td>
            <td style="border: 1px solid black; text-align: center;">pH
                <br>(MSZ 1484-22:2009)</td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="ido1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="hozam1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizszint1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vezeto1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizho1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ph1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="ido2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="hozam2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizszint2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vezeto2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizho2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ph2">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="ido3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="hozam3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizszint3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vezeto3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="vizho3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ph3">-</span></td>
        </tr>
    </table>
    <br style="page-break-before: always">
    <strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
    <table>
        <tr>
            <td rowspan="20">
                <p class="uzemviteli"></p>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
    <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p><span class="egyeb1"></span></p>
    <p><span class="egyeb2"></span></p>
    <p>Dátum: <span class="datum"></span></p><br />
    <p>A mintavételt végző neve és aláírása: </p>
    <table>
        <tr>
            <td width="25%"><span class="keszitette1"></span>
            <td width="25%"><span class="keszitette2"></span>
            <td width="25%"><span class="keszitette3"></span>
            <td width="25%"><span class="keszitette4"></span>
        </tr>
    </table>
    <br style="page-break-before: always">
</div>
