<div class="form-type" data-type="gazallapotmhch">
    <h1 class="text-center">Munkahelyi gázállapotú légszennyező anyagok koncentráció vizsgálata</h1>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helye(név): </label>
            <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helyszíne(cím): </label>
            <input class="form-control" type="text" name="mintavetel_helyszine" data-name="mintavetel_helyszine">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mérési hely:</label>
            <input class="form-control" type="text" name="meresi_hely" data-name="meresi_hely">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Dolgozó neve:</label>
            <input class="form-control" type="text" name="dolgozo_neve" data-name="dolgozo_neve">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Vizsgált légszennyező anyag:</label>
            <input class="form-control" type="text" value="elégetlen szénhidrogének" disabled name="vizsgalt_legszenny" data-name="vizsgalt_legszenny">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel dátuma</label>
            <input type="datum" name="datum" data-name="datum" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mv. kezd</label>
            <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mv_kezd" data-name="mv_kezd"></input>
        </div>        
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mv. vége</label>
            <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mv_vege" data-name="mv_vege"></input>
        </div>        
    </div>
    <div class="row">
        <label>Mintavételnél használt eszközök</label>
        <input value="Sick/Maihak BA 3006 mérőműszer" name="egyeb_gep[]" class="form-control static" disabled data-name="eszkoz1">
        <input value="SMA adatgyűjtő" name="egyeb_gep[]" class="form-control static" disabled data-name="eszkoz2">
    </div>
    <div class="row">
        <h2>Meterológiai paraméterek</h2>
        <table class="table">
            <thead>
                <th>Idő</th>
                <th>Légnyomás (mbar)</th>
                <th>Hőmérséklet</th>
                <th>Páratartalom</th>
                <th>Légsebesség</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_1" data-name="meterologia_ido_1"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_1" data-name="legnyomas_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_1" data-name="homerseklet_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_1" data-name="paratartalom_1" />
                    </td>
                    <td>
                        <select name="legsebesseg_1" data-name="legsebesseg_1" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_2" data-name="meterologia_ido_2"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_2" data-name="legnyomas_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_2" data-name="homerseklet_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_2" data-name="paratartalom_2" />
                    </td>
                    <td>
                        <select name="legsebesseg_2" data-name="legsebesseg_2" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <strong>Mintavételi körülmények</strong>
    <div class="row">
        <div class="col-sm-12">
            <video class="video" width="350" height="260" autoplay></video>
            <span class="snap btn btn-default">Fotó</span>
            <canvas class="canvas hidden" width="350" height="260"></canvas>
        </div>
    </div>
    <div class="row">
        <span>Üzemviteli és mintavételi körülmények:</span>
        <br>
        <textarea class="form-control" name="uzemviteli" data-name="uzemviteli"></textarea>
    </div>
     <div class="row">
        <div class="form-group">
            <span>Rotaméter</span>
            <select class="combobox" data-name="rotameter">
                <option value="">Válassz</option>
                <option value="94-168-1838">94-168-1838</option>
                <option value="10-323-339">10-323-339</option>
                <option value="11-130-141">11-130-141</option>
                <option value="13-146-1">13-146-1</option>
            </select>
            <span>Mikroszkóp</span>
            <select class="combobox" data-name="mikroszkop">
                <option value="">Válassz</option>
                <option value="zeiss_jenamed_variant">Zeiss Jenamed Variant; 742760</option>
                <option value="olympus_15069">Olympus; 15069</option>
                <option value="leica_dm_2700p">Leica DM 2700P</option>
            </select>
            <span>Hőmérséklet, páratartalom mérő:</span>
            <select class="combobox" data-name="paratartalom_mero">
                <option value="">Válassz</option>
                <option value="testo_645_143190">Testo 645;143190</option>
                <option value="testo_435_1559658">Testo 435; 1559658</option>
                <option value="testo_405_V1">Testo 405-V1</option>
            </select>
            <span>Barométer</span>
            <select class="combobox" data-name="barometer">
                <option value="">Válassz</option>
                <option value="Stieber_DM_120B/M_1149">Stieber DM 120B/M; 1149</option>
            </select>
        </div>
    </div>
    <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette1">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette2">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette3">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette4">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
</div>
