<div class="form-type" data-type="gazallapot">
    <h1 class="text-center">Munkahelyi gázállapotú légszennyező anyagok koncentráció vizsgálata</h1>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helye(név): </label>
            <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helyszíne(cím): </label>
            <input class="form-control" type="text" name="mintavetel_helyszine" data-name="mintavetel_helyszine">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mérési hely:</label>
            <input class="form-control" type="text" name="meresi_hely" data-name="meresi_hely">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Dolgozó neve:</label>
            <input class="form-control" type="text" name="dolgozo_neve" data-name="dolgozo_neve">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Vizsgált légszennyező anyag:</label>
            <input class="form-control" type="text" name="vizsgalt_legszenny" data-name="vizsgalt_legszenny">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel dátuma</label>
            <input type="datum" name="datum" data-name="datum" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mv. kezd</label>
            <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mv_kezd" data-name="mv_kezd"></input>
        </div>        
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mv. vége</label>
            <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mv_vege" data-name="mv_vege"></input>
        </div>        
    </div>
    <div class="row">
        <label>Mintavételnél használt eszközök</label>
        <input value="Hordozható minta előkészítő" name="egyeb_gep[]" class="form-control" disabled>
        <input value="Hordozható füstgáz elemző" name="egyeb_gep[]" class="form-control" disabled>
        <input value="adatgyűjtő számítógép" name="egyeb_gep[]" class="form-control" disabled>
    </div>
    <div class="row">
        <h2>Meterológiai paraméterek</h2>
        <table class="table">
            <thead>
                <th>Idő</th>
                <th>Légnyomás (mbar)</th>
                <th>Hőmérséklet</th>
                <th>Páratartalom</th>
                <th>Légsebesség</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_1" data-name="meterologia_ido_1"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_1" data-name="legnyomas_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_1" data-name="homerseklet_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_1" data-name="paratartalom_1" />
                    </td>
                    <td>
                        <select name="legsebesseg_1" data-name="legsebesseg_1" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_2" data-name="meterologia_ido_2"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_2" data-name="legnyomas_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_2" data-name="homerseklet_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_2" data-name="paratartalom_2" />
                    </td>
                    <td>
                        <select name="legsebesseg_2" data-name="legsebesseg_2" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_3" data-name="meterologia_ido_3"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_3" data-name="legnyomas_3" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_3" data-name="homerseklet_3" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_3" data-name="paratartalom_3" />
                    </td>
                    <td>
                        <select name="legsebesseg_3" data-name="legsebesseg_3" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_4" data-name="meterologia_ido_4"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_4" data-name="legnyomas_4" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_4" data-name="homerseklet_4" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_4" data-name="paratartalom_4" />
                    </td>
                    <td>
                        <select name="legsebesseg_4" data-name="legsebesseg_4" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <strong>Mintavételi körülmények</strong>
    <div class="row">
        <div class="col-sm-12">
            <video class="video" width="350" height="260" autoplay></video>
            <span class="snap btn btn-default">Fotó</span>
            <canvas class="canvas hidden" width="350" height="260"></canvas>
        </div>
    </div>
    <div class="row">
        <span>Üzemviteli és mintavételi körülmények:</span>
        <br>
        <textarea name="uzemviteli" data-name="uzemviteli"></textarea>
    </div>
    <div class="row">
        <div class="form-group">
            <span>Mellékletek </span>
            <br>
            <textarea type="text" name="mellekletek" data-name="mellekletek"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <span>Készítette</span>
            <select class="combobox" name="keszitette_nev" data-name="keszitette_nev">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
    </div>
</div>
