<div class="doc-type" data-doc-type="gazallapotmhch">
     <p style="text-align: center; font-weight: bold; line-height: 5px;">Munkahelyi gázállapotú légszennyező anyagok koncentráció vizsgálata</h2>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mintavétel helye(név):</strong> <span class="mintavetel_helye"></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mintavétel helyszíne(cím):</strong> <span class="mintavetel_helyszine"></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mérési hely</strong> <span class="meresi_hely"></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Dolgozó neve:</strong> <span class="dolgozo_neve"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p line-height="5px"><strong>Vizsgált légszenny:</strong> Elégetlen szénhidrogének</p>
            </td>
        </tr>
        <tr>
            <td><strong>Mintavétel dátuma:</strong> <span class="datum"></span></td>
            <td><strong>Mintavétel időtartama:</strong> <span class="mv_kezd"></span>-<span class="mv_vege"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Mintavételnél használt eszköz:</strong> <span class="eszkoz1"></span>, <span class="eszkoz2"></span></td>
        </tr>
    </table>

    <p><strong>Klimatikus paraméterek: </strong></p>
    <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
        <tr>
            <td style="border: 1px solid black; text-align: center;"><strong>Idő</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légnyomás (mbar)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Hőmérséklet (°C)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Páratartalom (%)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légsebesség (m/s)</strong></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_2">-</span></td>
        </tr>
    </table>
    <p><strong>Mintavételi körülmények</strong> (fénykép, vázlat):</p>
    <div class="image-container">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="20">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>Dátum: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása: </p>
        <table>
            <tr>
                <td width="25%"><span class="keszitette1"></span>
                <td width="25%"><span class="keszitette2"></span>
                <td width="25%"><span class="keszitette3"></span>
                <td width="25%"><span class="keszitette4"></span>
            </tr>
        </table>
    <br style="page-break-before: always">
</div>
