<div class="form-type" data-type="ivoviz">
    <div class="form-container">
        <h1 class="text-center">Ivóvíz</h1>
        <div class="row">
            <div class="form-group">
                <label>Mintavétel helye(név): </label>
                <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
            </div>
            <div class="form-group">
                <label>Mintavétel helyszíne(cím): </label>
                <input class="form-control" type="text" name="mintavetel_helyszine" data-name="mintavetel_helyszine">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mérési hely: </label>
                <input class="form-control" type="text" name="meresi_hely" data-name="meresi_hely">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Vizsgálandó komponensek</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control label-input" type="text" name="komponensek_label" data-name="komponensek_label">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control value-input" type="text" name="komponensek" data-name="komponensek">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-mark="#myModal">Vizsgalando komponensek</button>
            </div>
        </div>
        <div class="modal fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Vizsgálandó komponensek</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="form-group">
                                <select name="mintavetel_celja" data-name="mintavetel_celja" class="component-label">
                                    <option value=''>Kérem válasszon</option>
                                    <option value="Baktérium">Baktérium</option>
                                    <option value="kemiai">Kémiai</option>
                                </select>
                            </div>
                            <div class="form-group component-value">
                                <select>
                                    <option value=''>Kérem válasszon</option>
                                    <option value="Escherichia coli (E.coli)" class="Baktérium">Escherichia coli (E.coli)</option>
                                    <option value="Enterococcus" class="Baktérium">Enterococcus</option>
                                    <option value="Clostridium perfringens" class="Baktérium">Clostridium perfringens</option>
                                    <option value="Telepszám 22 ˚ C  - on" class="Baktérium">Telepszám 22 ˚ C - on</option>
                                    <option value="Telepszám   37x1 ˚ C – on " class="Baktérium">Telepszám 37 ˚ C – on </option>
                                    <option value="Coliform baktériumok" class="Baktérium">Coliform baktériumok </option>
                                    <option value="Pseudomonas aeruginosa" class="Baktérium">Pseudomonas aeruginosa</option>
                                    <option value="Mikroszkópos biológia" class="Baktérium">Mikroszkópos biológia</option>
                                    <option value="Legionella" class="Baktérium">Legionella</option>
                                    <option class="kemiai" val="Antimon">Antimon</option>
                                    <option class="kemiai" val="Arzén">Arzén</option>
                                    <option class="kemiai" val="Benzol">Benzol</option>
                                    <option class="kemiai" val="Benz(a)pirén*">Benz(a)pirén*</option>
                                    <option class="kemiai" val="Bór">Bór</option>
                                    <option class="kemiai" val="Kadmium">Kadmium</option>
                                    <option class="kemiai" val="Króm">Króm</option>
                                    <option class="kemiai" val="Réz">Réz</option>
                                    <option class="kemiai" val="Összes cianid">Összes cianid</option>
                                    <option class="kemiai" val="1,2-diklór-etán**">1,2-diklór-etán**</option>
                                    <option class="kemiai" val="Fluorid">Fluorid</option>
                                    <option class="kemiai" val="Ólom">Ólom</option>
                                    <option class="kemiai" val="Higany">Higany</option>
                                    <option class="kemiai" val="Nikkel">Nikkel</option>
                                    <option class="kemiai" val="Nitrát">Nitrát</option>
                                    <option class="kemiai" val="Nitrit">Nitrit</option>
                                    <option class="kemiai" val="Peszticidek  (10 db)">Peszticidek (10 db)</option>
                                    <option class="kemiai" val="Policiklikus aromás szénhidrogének (4 db)*">Policiklikus aromás szénhidrogének (4 db)*</option>
                                    <option class="kemiai" val="Szelén">Szelén</option>
                                    <option class="kemiai" val="Tetraklór-etilén és triklór –etilén**">Tetraklór-etilén és triklór –etilén**</option>
                                    <option class="kemiai" val="Összes trihalo-metán**">Összes trihalo-metán**</option>
                                    <option class="kemiai" val="Cisz-1,2-diklór-etilén**">Cisz-1,2-diklór-etilén**</option>
                                    <option class="kemiai" val="Kötött aktív klór">Kötött aktív klór</option>
                                    <option class="kemiai" val="Alumínium">Alumínium</option>
                                    <option class="kemiai" val="Ammónium">Ammónium</option>
                                    <option class="kemiai" val="Klorid">Klorid</option>
                                    <option class="kemiai" val="Fajl.el. vez.kép.">Fajl.el. vez.kép.</option>
                                    <option class="kemiai" val="pH">pH</option>
                                    <option class="kemiai" val="Vas">Vas</option>
                                    <option class="kemiai" val="Mangán">Mangán</option>
                                    <option class="kemiai" val="Kémiai oxigénigény(ps)">Kémiai oxigénigény(ps)</option>
                                    <option class="kemiai" val="Szulfát">Szulfát</option>
                                    <option class="kemiai" val="Lúgoság">Lúgoság</option>
                                    <option class="kemiai" val="Nátrium">Nátrium</option>
                                    <option class="kemiai" val="Összes szerves szén TOC">Összes szerves szén TOC</option>
                                    <option class="kemiai" val="Zavarosság">Zavarosság</option>
                                    <option class="kemiai" val="Össz.keménység">Össz.keménység</option>
                                    <option class="kemiai" val="Fenol index">Fenol index</option>
                                    <option class="kemiai" val="Olaj származékok">Olaj származékok</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal-save" data-dismiss="modal">Mentés</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A tartósítás módja</label>
                <select name="tartositas_modja" data-name="tartositas_modja" class="combobox">
                    <option value="">Kérlek válassz</option>
                    <option value="hűtőtáskában, illetve az elemző laboratórium által előkészített mintavevő edényekbe tett tartósítószer">hűtőtáskában, illetve az elemző laboratórium által előkészített mintavevő edényekbe tett tartósítószer</option>
                    <option value="hűtés">hűtés</option>
                    <option value="Egyéb (beírás)">Egyéb (beírás)</option>
                </select>
            </div>
        </div>
        <div class="row">
            <h2>Helyszíni adatok</h2>
            <div class="form-group">
                <label>Dátum</label>
                <input class="form-control" name="datum" data-name="datum" type="date" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Minta jele</label>
                <input class="form-control" data-name="mintak_jele" type="text" name="viz_minta_jele[]"/>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <label>Vizsgált komponensek</label>
                <select name="vizsgalt_komponensek1" data-name="vizsgalt_komponensek1" class="combobox">
                    <option value="">Kérlek válassz</option>
                    <option value="szerves anyagok">Szerves anyagok</option>
                    <option value="fémek">Fémek</option>
                    <option value="Sósav">Sósav</option>
                    <option value="Kénsav">Kénsav</option>
                    <option value="Nátrium hidroxid">Nátrium hidroxid</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>pH (MSZ 1484-22:2009):</label>
                <input class="form-control" name="ph" data-name="ph" type="text" />
            </div>
            <div class="form-group">
                <label>Vezetőképesség (MSZ EN 27888:1998) (µS/cm):</label>
                <input class="form-control" name="vezetokep" data-name="vezetokep" type="text" />
            </div>
            <div class="form-group">
                <label>Vízhőmérséklet (MSZ 448-2:1967 (visszavont szabvány)) (°C): </label>
                <input class="form-control" name="vizhomersek" data-name="vizhomersek" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Üzemviteli és mintavételi körülmények, megjegyzések</label>
                <textarea class="form-control" name="uzemviteli" data-name="uzemviteli"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <p><strong>Alkalmazott eszközök</strong></p>
                <label>Barométer</label>
                <select class="combobox" name="barometer" data-name="barometer">
                    <option value="">Válassz</option>
                    <option value="Zeiss Jenamed Variant;">Zeiss Jenamed Variant; 742760</option>
                    <option value="Olympus; 15069">Olympus; 15069</option>
                    <option value="Leica DM 2700P">Leica DM 2700P</option>
                </select>
                <label>Rotaméter</label>
                <select class="combobox" name="rotameter" data-name="rotameter">
                    <option value="">Válassz</option>
                    <option value="94-168-1838">94-168-1838</option>
                    <option value="10-323-339">10-323-339</option>
                    <option value="11-130-141">11-130-141</option>
                    <option value="13-146-1">13-146-1</option>
                </select>
                <label>Hőmérséklet, páratartalom és légsebesség mérő:</label>
                <select class="combobox" name="paratartalom_mero" data-name="paratartalom_mero">
                    <option value="">Válassz</option>
                    <option value="testo_645_143190">Testo 645;143190</option>
                    <option value="testo_435_1559658">Testo 435; 1559658</option>
                    <option value="testo_405_V1">Testo 405-V1</option>
                </select>
                <label>Mikroszkóp</label>
                <select class="combobox" name="mikroszkop" data-name="mikroszkop">
                    <option value="">Válassz</option>
                    <option value="Zeiss Jenamed Variant;">Zeiss Jenamed Variant; 742760</option>
                    <option value="Olympus; 15069">Olympus; 15069</option>
                    <option value="Leica DM 2700P">Leica DM 2700P</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
    </div>
</div>
