<div class="doc-type" data-doc-type="ivoviz">
    <p style="text-align: center; font-weight: bold; line-height: 5px;">Mintavétel ivóvízből</p>
    <p style="line-height: 5px;">Mintavétel helye(név): <span class="mintavetel_helye"></span></p>
    <p style="line-height: 5px;">Mintavétel helyszíne(cím): <span class="mintavetel_helyszine"></span></p>
    <p style="line-height: 5px;">Mérési hely: <span class="meresi_hely"></span></p>
    <table style="margin-bottom: 0;">
        <tr>
            <td style="vertical-align: top;">Mintavételi szabvány száma:</td>
            <td style="padding-left: 20px;">MSZ EN ISO 5667-1:2007
                <br> MSZ EN ISO 5667-16:2000 3., 4., 5. fejezet
                <br> MSZ EN ISO 19458:2007
                <br> MSZ 22902-1:1989 3. fejezet
                <br> MSZ 448-36:1985 3. fejezet
                <br> MSZ 448-44:1990 3.1. szakasz
                <br> MSZ 448-36:1985 3. fejezet</td>
        </tr>
    </table>
    <p style="line-height: 5px;">Vizsgálandó komponensek: </p>
    <table style="margin: 0; padding: 0; width: 100%;">
        <tr>
            <td style="padding-left: 20px;">
                <p style="line-height: 5px; padding-left: 20px;">Baktérium: <span class="bakter_label"></span></p>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px;">
                <p style="line-height: 5px; padding-left: 20px;">Kémiai: <span class="kemia_label"> </span></p>
            </td>
        </tr>
    </table>
    
    <p style="line-height: 5px;">A tartósításra vonatkozó szabvány száma: MSZ EN ISO 5667-3:2004 (visszavont szabvány)</p>
    <p style="line-height: 5px;">A tartósítás módja: <span class="tartositas_modja"></span></p>
    <p style="line-height: 5px;">Minták jele: <span class="mintak_jele"></span></p>
    <p style="line-height: 5px;">Mintavétel ideje: <span class="datum"></span></p>
    <p style="line-height: 5px;">pH (MSZ 1484-22:2009): <span class="ph"></span></p>
    <p style="line-height: 5px;">Vezetőképesség (MSZ EN 27888:1998) (µS/cm): <span class="vezetokep"></span></p>
    <p style="line-height: 5px;">Vízhőmérséklet (MSZ 448-2:1967 (visszavont szabvány)) (°C):<span class="vizhomersek"></span>°C</p>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
                        <table>
            <tr>
                <td rowspan="17" valign="top">
                    <span class="uzemviteli"></span>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
                    </div>
                    <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    <div>
        <strong>Alkalmazott eszközök:</strong>
        <p><span class="egyeb1"></span></p>
        <p><span class="egyeb2"></span></p>
        <p>Dátum: <span class="datum"></span></p><br />
        <p>A mintavételt végző neve és aláírása: </p>
        <table>
            <tr>
                <td width="25%"><span class="keszitette1"></span>
                <td width="25%"><span class="keszitette2"></span>
                <td width="25%"><span class="keszitette3"></span>
                <td width="25%"><span class="keszitette4"></span>
            </tr>
        </table>
    <br style="page-break-before: always">
    </div>
</div>
