<h1>Melyik dokumentumot szeretnéd módosítani?</h1>
<select>
 <option>Zajmérés</option> 
 <option>Munkahelyi szálló por koncentráció vizsgálata</option>
 <option>Szilárd anyag mintavétel (emissziómérés)</option>
 <option>Szálló rost koncentráció vizsgálata</option>
 <option>Szálló rost koncentráció vizsgálata_v2</option>
 <option>Adszorpciós/abszorpciós mintavétel (emissziómérés)</option>
 <option>Adszorpciós/abszorpciós mintavétel (munkahelyi mérés)</option>
 <option>Füstgáz mintavétel (emissziómérés)</option>
 <option>Mintavétel ivóvízből</option>
 <option>Mintavétel felszín alatti vizekből</option>
 <option>Mintavétel szennyvízből</option>
</select>
<button id="modifypicker" class="btn">Választ</button>

<div class="form-outer" id="viz">
<img src="/img/header.jpg">
  <div class="form-container">
    <h1 class="text-center">Szálló rost koncentráció vizsgálata</h1>
    <form method="post" action="/zajos">
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helyszíne</span>
            <input type="text" name="mintavetel_helyszine">
          </div>
          <div class="form-group span6">
            <span>Dátum</span>
            <input type="text" name="ďatum">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helye</span>
            <input type="text" name="mintavetel_helye">
          </div>
          <div class="form-group span6">
            <span>Minta száma</span>
            <input type="text" name="minta_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavevő típusa</span>
            <input type="text" name="mintavevo_tipusa">
          </div>
          <div class="form-group span6">
            <span>Mintavevő száma</span>
            <input type="text" name="vevo_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel módja</span>
            <input type="text" name="mintavetel_modja">
          </div>
          <div class="form-group span6">
            <span>Mintavétel időtartalma</span>
            <input type="text" name="idotartam">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <span>Mintán átáramló levegő térfogatárama: </span>
            <input type="text" name="levego_terfogat">
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>

<div class="form-outer">
<img src="/img/header.jpg">
  <div class="form-container">
    <h1 class="text-center">Szálló rost koncentráció vizsgálata</h1>
    <form method="post" action="/zajos">
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helyszíne</span>
            <input type="text" name="mintavetel_helyszine">
          </div>
          <div class="form-group span6">
            <span>Dátum</span>
            <input type="text" name="ďatum">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helye</span>
            <input type="text" name="mintavetel_helye">
          </div>
          <div class="form-group span6">
            <span>Minta száma</span>
            <input type="text" name="minta_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavevő típusa</span>
            <input type="text" name="mintavevo_tipusa">
          </div>
          <div class="form-group span6">
            <span>Mintavevő száma</span>
            <input type="text" name="vevo_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel módja</span>
            <input type="text" name="mintavetel_modja">
          </div>
          <div class="form-group span6">
            <span>Mintavétel időtartalma</span>
            <input type="text" name="idotartam">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <span>Mintán átáramló levegő térfogatárama: </span>
            <input type="text" name="levego_terfogat">
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>

<div class="form-outer" id="szenny">
<img src="/img/header.jpg">
  <div class="form-container">
    <h1 class="text-center">Szálló rost koncentráció vizsgálata</h1>
    <form method="post" action="/zajos">
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helyszíne</span>
            <input type="text" name="mintavetel_helyszine">
          </div>
          <div class="form-group span6">
            <span>Dátum</span>
            <input type="text" name="ďatum">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel helye</span>
            <input type="text" name="mintavetel_helye">
          </div>
          <div class="form-group span6">
            <span>Minta száma</span>
            <input type="text" name="minta_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavevő típusa</span>
            <input type="text" name="mintavevo_tipusa">
          </div>
          <div class="form-group span6">
            <span>Mintavevő száma</span>
            <input type="text" name="vevo_szama">
          </div>
        </div>
        <div class="row">
          <div class="form-group span6">
            <span>Mintavétel módja</span>
            <input type="text" name="mintavetel_modja">
          </div>
          <div class="form-group span6">
            <span>Mintavétel időtartalma</span>
            <input type="text" name="idotartam">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <span>Mintán átáramló levegő térfogatárama: </span>
            <input type="text" name="levego_terfogat">
          </div>
        </div>
      </div>
        <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>