<form method="post" action="/new-company">
  <div class="row">
    <div class="form-group span6">
      <span>Vállalat neve</span>
      <input type="text" name="mintavetel_helyszine">
    </div>
  </div>
</form>