<div class="form-type" data-type="szallorostvege">
        <div class="row">
            <div class="form-group">
                <span>Rotaméter</span>
                <select class="combobox" name="egyeb_gep[]" data-name="rotameter">
                    <option value="">Válassz</option>
                    <option value="94-168-1838">94-168-1838</option>
                    <option value="10-323-339">10-323-339</option>
                    <option value="11-130-141">11-130-141</option>
                    <option value="13-146-1">13-146-1</option>
                </select>
                <span>Mikroszkóp</span>
                <select class="combobox" name="egyeb_gep[]" data-name="mikroszkop">
                    <option value="">Válassz</option>
                    <option value="Zeiss Jenamed Variant;">Zeiss Jenamed Variant; 742760</option>
                    <option value="Olympus; 15069">Olympus; 15069</option>
                    <option value="Leica DM 2700P">Leica DM 2700P</option>
                </select>
                <span>Hőmérséklet, páratartalom mérő:</span>
                <select class="combobox" name="egyeb_gep[]" data-name="paratartalom_mero">
                    <option value="">Válassz</option>
                    <option value="testo_645_143190">Testo 645;143190</option>
                    <option value="testo_435_1559658">Testo 435; 1559658</option>
                    <option value="testo_405_V1">Testo 405-V1</option>
                </select>
                <span>Barométer</span>
                <select class="combobox" name="egyeb_gep[]" data-name="barometer">
                    <option value="">Válassz</option>
                    <option value="Stieber_DM_120B/M_1149">Stieber DM 120B/M; 1149</option>
                </select>
            </div>
        </div>
        <div class="row">
            <span>Üzemviteli és mintavételi körülmények:</span>
            <br>
            <textarea name="uzemviteli" data-name="uzemviteli"></textarea>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette1">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette2">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette3">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette4">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
</div>
