<div class="doc-type" data-doc-type="szallopor">
    <h2 style="text-align: center;">Szállópor koncentráció vizsgálata</h2>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td colspan="2"><strong>Mintavétel helye(név):</strong> <span class="mintavetel_helyszine"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Mintavétel helyszíne(cím):</strong> <span class="mintavetel_helyszine"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Dolgozó neve: </strong> <span class="dolgozo_neve"></span></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Vizsgált légszennyező anyag: </strong> <span class="vizsgalt_legszeny"></span></td>
        </tr>
        <tr>
            <td><strong>Dátum:</strong> <span class="datum"></span></td>
            <td><strong>Mintavétel időtartama:</strong> <span class="mintavetel_kezdete"></span>-<span class="mintavetel_vege"></span></td>
        </tr>
        <tr>
            <td><strong>Mintavevő típusa:</strong> <span class="mintavevo_tipusa"></span></td>
            <td><strong>Mintavevő száma:</strong> <span class="mintavevo_szama"></span></td>
        </tr>
        <tr>
            <td><strong>Mintavétel sebessége:</strong> <span class="mintavetel_modja"></span> l/perc</td>
            <td><strong>Minta száma:</strong> <span class="minta_szama"></span></td>
        </tr>
    </table>
    <p><strong>Meterolgiai paraméterek: </strong></p>
    <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
        <tr>
            <td style="border: 1px solid black; text-align: center;"><strong>Idő</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légnyomás (mbar)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Hőmérséklet (°C)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Páratartalom (%)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légsebesség (m/s)</strong></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_2">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_3">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_4">-</span></td>
        </tr>
    </table>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="20">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p>Rotaméter:<span class="rotameter"></span></p>
    <p>Barométer:<span class="barometer"></span></p>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása: <span class="keszitette"></span></p>
    <br style="page-break-before: always">
</div>
