<div class="doc-type" data-doc-type="szallorost">
    <p style="text-align: center; font-weight: bold; line-height: 5px;">Szállórost koncentráció vizsgálata</p>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td><strong>Mintavétel helye(név):</strong> <span class="mintavetel_helyszine"></span></td>
            <td><strong>Dátum:</strong> <span class="datum"></span></td>
        </tr>
        <tr>
            <td><strong>Mintavétel helyszíne(cím):</strong> <span class="mintavetel_helyszine"></span></td>
            <td><strong>Minták száma:</strong> <span class="mintak_szama"></span></td>
        </tr>
        <tr>
            <td><strong>Mintavevők típusa:</strong> <span class="mintavevo_tipusa"></span></td>
            <td><strong>Mintavevők száma:</strong> <span class="mintavevo_szama"></span></td>
        </tr>
        <tr>
            <p><td colspan=2><strong>Mintavétel módja:</strong> <span class="mintavetel_modja"></span></td></p>
        </tr>
    </table>
    <table style="width: 100%; border: 1px solid black; margin-bottom: 20px; border-collapse: collapse; border-bottom: 0">
        <tr>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Minta száma</p></strong> </td>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Mintavételi hely </p></strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Mv. kezd. </p></strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Mv. vége </p></strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Térfogatáram <br> (cm/min)</p></strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong><p>Munkafolyamat</p></strong></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_1">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott1">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_1">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_1">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_1">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_1"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_2">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott2">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_2">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_2">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_2">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_2"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_3">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott3">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_3">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_3">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_3">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_3"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_4">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott4">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_4">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_4">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_4">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_4"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_5">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott5">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_5">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_5">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_5">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_5"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_6">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott6">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_6">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_6">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_6">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_6"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_7">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott7">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_7">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_7">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_7">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_7"></span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="minta_szama_8">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="ellenorzott8">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_hely_8">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="mintavetel_vege_8">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="terfogataram_8">.</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="munkafolyamat_8"></span></td>
        </tr>
    </table>
    <p><strong>Meterolgiai paraméterek: </strong></p>
    <table style="width:100%; border-collapse: collapse; border-bottom: 0">
        <tr>
            <td style="border: 1px solid black; text-align: center;"><strong>Idő</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légnyomás (mbar)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Hőmérséklet (°C)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Páratartalom (%)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légsebesség (m/s)</strong></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_2">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_3">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_3">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_4">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_4">-</span></td>
        </tr>
    </table>
    <p><strong>Behatás más területről: </strong><span class="behatas"></span></p>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="10">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p>Rotaméter:<span class="rotameter"></span></p>
    <p>Barométer:<span class="barometer"></span></p>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>Mikroszkóp:<span class="mikroszkop"></span></p>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása: <span class="keszitette"></span></p>
    <br style="page-break-before: always">
</div>
