<br style="page-break-before: always">
<div class="doc-type" data-doc-type="szallorostvege">
<strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="25">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
    </table>
    <strong>Alkalmazott eszközök:</strong>
    <p>Rotaméter:<span class="rotameter"></span></p>
    <p>Barométer:<span class="barometer"></span></p>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>Mikroszkóp:<span class="mikroszkop"></span></p>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása: </p>
        <table>
            <tr>
                <td width="25%"><span class="keszitette1"></span>
                <td width="25%"><span class="keszitette2"></span>
                <td width="25%"><span class="keszitette3"></span>
                <td width="25%"><span class="keszitette4"></span>
            </tr>
        </table>
</div>
