<div class="doc-type" data-doc-type="szallorostkonc">
    <h2 style="text-align: center;">Szállórost koncentráció vizsgálata</h2>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mintavétel helye(név):</strong> <span class="mintavetel_helyszine"></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mintavétel helyszíne(cím):</strong> <span class="mintavetel_helyszine"></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p line-height="5px"><strong>Mérési hely</strong> <span class="meresi_hely"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p line-height="5px"><strong>Minta száma:</strong> <span class="minta_szama"></span></p>
            </td>
            <td>
                <p line-height="5px"><strong>Dátum:</strong> <span class="datum"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p line-height="5px"><strong>Mintavevők típusa:</strong> <span class="mintavevo_tipusa"></span></p>
            </td>
            <td>
                <p line-height="5px"><strong>Mintavevők száma:</strong> <span class="mintavevo_szama"></span></p>
            </td>
        </tr>
        <tr>
            <td><strong>Mintavétel módja:</strong> <span class="mintavetel_modja"></span></td>
            <td><strong>Mintavétel időtartama:</strong> <span class="mintavetel_kezdete"></span>-<span class="mintavetel_vege"></span></td>
        </tr>
        <tr>
            <td><strong>Mintán átáramló levegő térfogata:</strong> <span class="levego_terfogata"></span></td>
        </tr>
    </table>
    <div class="image-container">
        <img class="photo" src="" />
        <input type="hidden" class="image-helper" value="" id="imageInput" name="image_input" />
    </div>
    <p><strong>Meterolgiai paraméterek: </strong></p>
    <table style="width:100%; border-collapse: collapse; border-bottom: 0; margin-bottom: 20px;">
        <tr>
            <td style="border: 1px solid black; text-align: center;"><strong>Idő</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légnyomás (mbar)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Hőmérséklet (°C)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Páratartalom (%)</strong></td>
            <td style="border: 1px solid black; text-align: center;"><strong>Légsebesség (m/s)</strong></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_1">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_1">-</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black; text-align: center;"><span class="meterologia_ido_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legnyomas_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="homerseklet_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="paratartalom_2">-</span></td>
            <td style="border: 1px solid black; text-align: center;"><span class="legsebesseg_2">-</span></td>
        </tr>
    </table>
    <p><strong>Behatás más területről: </strong><span class="behatas"></span></p>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="20">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="image-container-uzemviteli">
        <img class="photo" src="" />
        <input type="hidden" value="" id="imageInput" name="image_input" />
    </div>
    </div>
    <strong>Alkalmazott eszközök:</strong>
    <p>Rotaméter:<span class="rotameter"></span></p>
    <p>Barométer:<span class="barometer"></span></p>
    <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="paratartalom_mero"></span></p>
    <p>Mikroszkóp:<span class="mikroszkop"></span></p>
    <p>A mintavétel ideje: <span class="datum"></span></p>
    <p>A mintavételt végző neve és aláírása: <span class="keszitette_nev"></span></p>
    <br style="page-break-before: always">
</div>
