<div class="form-type" data-type="szallorost">
    <h1 class="text-center">Szállórost koncentráció vizsgálata</h1>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helye(név): </label>
            <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
        </div>
        <div class="form-group">
            <label>Dátum</label>
            <input class="form-control" type="date" name="datum" data-name="datum">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel helyszíne (cím): </label>
            <input class="form-control" type="text" name="mintavetel_helyszine" data-name="mintavetel_helyszine">
        </div>
        <div class="form-group">
            <label>Minták száma</label>
            <input class="form-control" type="text" name="mintak_szama" data-name="mintak_szama">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavevő(k) típusa</label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="mintavevo_tipusa" data-name="mintavevo_tipusa" class="label-input form-control">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="mintavevo_szama" data-name="mintavevo_szama" class="form-control value-input">
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-mark="#myModal">
                Hozzáadás
            </button>
        </div>
    </div>
    <div class="modal fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mintavevők típusa</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="gepform-container">
                        <div class="row" id="gep-form">
                            <div class="form-group col-sm-6">
                                <select name="mintavetel_gep[]" data-name="mintavetel_gep1" class="component-label">
                                    <option value=''>Kérem válasszon</option>
                                    <option value="casella">Casella Apex</option>
                                    <option value="wortex">Wortex Ultra Flow</option>
                                    <option value="ggy">GGY</option>
                                    <option value="sidekick">SIDEKICK ’T’</option>
                                    <option value="skc-flite">SKC Flite3</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 component-value">
                                <select name="sorszam[]" data-name="sorszam1">
                                    <option class="none" value=''>Kérem válasszon</option>
                                    <option value="1239544" class="casella">1239544</option>
                                    <option value="1239545" class="casella">1239545</option>
                                    <option value="1239547" class="casella">1239547</option>
                                    <option value="1156811" class="casella">1156811</option>
                                    <option value="1156813" class="casella">1156813</option>
                                    <option value="1156844" class="casella">1156844</option>
                                    <option value="1156852" class="casella">1156852</option>
                                    <option value="1156860" class="casella">1156860</option>
                                    <option value="1156864" class="casella">1156864</option>
                                    <option value="1156866" class="casella">1156866</option>
                                    <option value="1156886" class="casella">1156886</option>
                                    <option value="1156889" class="casella">1156889</option>
                                    <option value="1156892" class="casella">1156892</option>
                                    <option value="4-70" class="wortex">4-70</option>
                                    <option value="4-71" class="wortex">4-71</option>
                                    <option value="4-72" class="wortex">4-72</option>
                                    <option value="4-73" class="wortex">4-73</option>
                                    <option value="4-74" class="wortex">4-74</option>
                                    <option value="4-75" class="wortex">4-75</option>
                                    <option value="4-76" class="wortex">4-76</option>
                                    <option value="0677895" class="wortex">0677895</option>
                                    <option value="0677896" class="wortex">0677896</option>
                                    <option value="0677897" class="wortex">0677897</option>
                                    <option value="0878324" class="wortex">0878324</option>
                                    <option value="0878546" class="wortex">0878546</option>
                                    <option value="037604" class="wortex">037604</option>
                                    <option value="01" class="ggy">01</option>
                                    <option value="02" class="ggy">02</option>
                                    <option value="03" class="ggy">03</option>
                                    <option value="04" class="ggy">04</option>
                                    <option value="509695" class="sidekick">509695</option>
                                    <option value="15533748" class="skc-flite">15533748</option>
                                    <option value="15533749" class="skc-flite">15533749</option>
                                    <option value="15533750" class="skc-flite">15533750</option>
                                    <option value="15533751" class="skc-flite">15533751</option>
                                    <option value="15533752" class="skc-flite">15533752</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" id="addGep">Gép hozzáadása</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal-save" data-dismiss="modal">Mentés</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Mintavétel módja</label>
            <select name="mintavetel_modja" data-name="mintavetel_modja" class="form-control">
                <option value=''>Kérem válasszon</option>
                <option value="stacionarius">stacionárius (rögzített ponton 1,5 m magasságban) </option>
                <option value="szemelyi">személyi mintavétel</option>
            </select>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Minta száma</th>
                <th>Ellenőrzött minta (0/1)</th>
                <th>Mintavételi hely</th>
                <th>Mintavétel kezdete</th>
                <th>Mintavétel vége</th>
                <th>Térfogatáram (cm3/min)</th>
                <th>Munkafolyamat</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_1" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input class="form-control" type="text" name="ellenorzott1" data-name="ellenorzott1">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_1" data-name="mintavetel_hely_1">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_1" data-name="mintavetel_kezdete_1"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_1" data-name="mintavetel_vege_1"></input>
                    </td>
                    <td>
                        <select name="terfogataram_1" data-name="terfogataram_1" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_1" data-name="munkafolyamat_1" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_2" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott2" data-name="ellenorzott2" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_2" data-name="mintavetel_hely_2">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_2" data-name="mintavetel_kezdete_2"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_2" data-name="mintavetel_vege_2"></input>
                    </td>
                    <td>
                        <select name="terfogataram_2" data-name="terfogataram_2" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_2" data-name="munkafolyamat_2" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_3" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott3" data-name="ellenorzott3" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_3" data-name="mintavetel_hely_3">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_3" data-name="mintavetel_kezdete_3"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_3" data-name="mintavetel_vege_3"></input>
                    </td>
                    <td>
                        <select name="terfogataram_3" data-name="terfogataram_3" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_3" data-name="munkafolyamat_3" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_4" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott4" data-name="ellenorzott4" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_4" data-name="mintavetel_hely_4">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_4" data-name="mintavetel_kezdete_4"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_4" data-name="mintavetel_vege_4"></input>
                    </td>
                    <td>
                        <select name="terfogataram_4" data-name="terfogataram_4" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_4" data-name="munkafolyamat_4" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_5" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott5" data-name="ellenorzott5" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_5" data-name="mintavetel_hely_5">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_5" data-name="mintavetel_kezdete_5"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_5" data-name="mintavetel_vege_5"></input>
                    </td>
                    <td>
                        <select name="terfogataram_5" data-name="terfogataram_5" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_5" data-name="munkafolyamat_5" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" data-name="minta_szama_6" name="szallorost_minta_szama[]" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott6" data-name="ellenorzott6" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_6" data-name="mintavetel_hely_6">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_6" data-name="mintavetel_kezdete_6"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_6" data-name="mintavetel_vege_6"></input>
                    </td>
                    <td>
                        <select name="terfogataram_6" data-name="terfogataram_6" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_6" data-name="munkafolyamat_6" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="minta_szama_7" data-name="minta_szama_7" />
                    </td>
                    <td>
                        <input type="text" name="ellenorzott7" data-name="ellenorzott7" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" / name="mintavetel_hely_7" data-name="mintavetel_hely_7">
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_kezdete_7" data-name="mintavetel_kezdete_7"></input>
                    </td>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="mintavetel_vege_7" data-name="mintavetel_vege_7"></input>
                    </td>
                    <td>
                        <select name="terfogataram_7" data-name="terfogataram_7" class="combobox">
                            <option value="">Válassz</option>
                            <option value="8000">8000</option>
                            <option value="1000">1000</option>
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" name="munkafolyamat_7" data-name="munkafolyamat_7" placeholder="munkafolyamat"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>Meterológiai paraméterek</h2>
        <table class="table">
            <thead>
                <th>Idő</th>
                <th>Légnyomás (mbar)</th>
                <th>Hőmérséklet</th>
                <th>Páratartalom</th>
                <th>Légsebesség</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_1" data-name="meterologia_ido_1"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_1" data-name="legnyomas_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_1" data-name="homerseklet_1" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_1" data-name="paratartalom_1" />
                    </td>
                    <td>
                        <select name="legsebesseg_1" data-name="legsebesseg_1" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_2" data-name="meterologia_ido_2"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_2" data-name="legnyomas_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_2" data-name="homerseklet_2" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_2" data-name="paratartalom_2" />
                    </td>
                    <td>
                        <select name="legsebesseg_2" data-name="legsebesseg_2" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_3" data-name="meterologia_ido_3"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_3" data-name="legnyomas_3" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_3" data-name="homerseklet_3" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_3" data-name="paratartalom_3" />
                    </td>
                    <td>
                        <select name="legsebesseg_3" data-name="legsebesseg_3" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="mintavetel-ido form-control" data-format="hh:mm:ss" type="text" name="meterologia_ido_4" data-name="meterologia_ido_4"></input>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="legnyomas_4" data-name="legnyomas_4" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="homerseklet_4" data-name="homerseklet_4" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="paratartalom_4" data-name="paratartalom_4" />
                    </td>
                    <td>
                        <select name="legsebesseg_4" data-name="legsebesseg_4" / class="combobox">
                            <option value="">Válassz</option>
                            <option value=">0,1">0,1</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Behatás más területről</label>
            <input type="text" name="behatas" data-name="behatas" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Üzemviteli és mintavételi körülmények, megjegyzések</label>
            <textarea class="form-control" name="uzemviteli" data-name="uzemviteli"></textarea>
            <div class="row">
                <div class="col-sm-12">
                    <video class="video-uzemviteli" width="350" height="260" autoplay></video>
                    <span class="snap-uzemviteli btn btn-default">Fotó</span>
                    <canvas class="canvas-uzemviteli hidden" width="350" height="260"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <p><strong>Alkalmazott eszközök</strong></p>
            <label>Barométer</label>
            <select class="form-control" name="barometer" data-name="barometer">
                <option value="">Válassz</option>
                <option value="Stieber DM 120B/M; 1149">Stieber DM 120B/M; 1149</option>
            </select>
            <label>Rotaméter</label>
            <select class="form-control" name="rotameter" data-name="rotameter">
                <option value="">Válassz</option>
                <option value="94-168-1838">94-168-1838</option>
                <option value="10-323-339">10-323-339</option>
                <option value="11-130-141">11-130-141</option>
                <option value="13-146-1">13-146-1</option>
            </select>
            <label>Hőmérséklet, páratartalom és légsebesség mérő:</label>
            <select class="form-control" name="paratartalom_mero" data-name="paratartalom_mero">
                <option value="">Válassz</option>
                <option value="testo_645_143190">Testo 645;143190</option>
                <option value="testo_435_1559658">Testo 435; 1559658</option>
                <option value="testo_405_V1">Testo 405-V1</option>
            </select>
            <label>Mikroszkóp</label>
            <select class="form-control" name="mikroszkop" data-name="mikroszkop">
                <option value="">Válassz</option>
                <option value="Zeiss Jenamed Variant;">Zeiss Jenamed Variant; 742760</option>
                <option value="Olympus; 15069">Olympus; 15069</option>
                <option value="Leica DM 2700P">Leica DM 2700P</option>
            </select>
        </div>
    </div>
    <div class="row">
        <label>Készítette</label>
        <select class="combobox" name="keszitette" data-name="keszitette">
            <option value="">Válassz</option>
            <option value="Szenyán Zoltán">Szenyán Zoltán</option>
            <option value="Czap Zoltán">Czap Zoltán</option>
            <option value="Czap Gergely">Czap Gergely</option>
            <option value="Lovas Péter">Lovas Péter</option>
            <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
            <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
        </select>
    </div>
</div>
