<div class="form-type" data-type="szennyviz">
    <div class="form-container">
        <h1 class="text-center">Szennyvíz</h1>
        <div class="row">
            <div class="form-group">
                <label>Mintavétel helye(név): </label>
                <input class="form-control" type="text" name="mintavetel_helye" data-name="mintavetel_helye">
            </div>
            <div class="form-group">
                <label>Mintavétel helyszíne(cím): </label>
                <input class="form-control" type="text" name="mintavetel_helyszine" data-name="mintavetel_helyszine">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mérési hely: </label>
                <input class="form-control" type="text" name="meresi_hely" data-name="meresi_hely">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mintavetel dátum</label>
                <input class="form-control" name="datum" data-name="datum" type="date" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mintavétel célja</label>
                <input class="form-control" name="mintavetel_celja" data-name="mintavetel_celja" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mintavétel módszere</label>
                <input class="form-control" name="mintavetel_modszere" data-name="mintavetel_modszere" type="text" />
            </div>
            <div class="has-padding">
                <div class="form-group">
                    <label>pontminta</label>
                    <input class="form-control" name="pontminta" data-name="pontminta" type="text" />
                </div>
                <div class="form-group">
                    <label>időarányos átlagminta: </label>
                    <input class="form-control" name="ido_atlag" data-name="ido_atlag" type="text" />
                </div>
                <div class="form-group">
                    <label>hozamarányos átlagminta: </label>
                    <input class="form-control" name="hozam_atlag" data-name="hozam_atlag" type="text" />
                </div>
                <div class="form-group">
                    <label>Alkalmazott eszköz: </label>
                    <input class="form-control" name="alkalmazott" data-name="alkalmazott" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A minták közti időtartam vagy hozam (perc vagy m3): </label>
                <input class="form-control" name="mintak_kozott" data-name="mintak_kozott" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A pontminták térfogata (ml): </label>
                <input class="form-control" name="minta_terfogata" data-name="minta_terfogata" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mv kezd.: </label>
                <input class="form-control" name="minta_kezdete" data-name="minta_kezdete" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Mv. vége: </label>
                <input class="form-control" name="minta_vege" data-name="minta_vege" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A minták közti időtartam vagy hozam (perc vagy m3): </label>
                <input class="form-control" name="mintak_kozott" data-name="mintak_kozott" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>A minta jele: </label>
                <input class="form-control" data-name="minta_jele" name="viz_minta_jele[]" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Vizsgálandó komponensek</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control label-input" type="text" name="komponensek_label" data-name="komponensek_label" class="">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control value-input" type="text" name="komponensek" data-name="komponensek">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-mark="#myModal">Vizsgalando komponensek</button>
            </div>
        </div>
        <div class="modal fade modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Vizsgálandó komponensek</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="form-group">
                                <select name="mintavetel_celja" data-name="mintavetel_celja" class="component-label">
                                    <option value=''>Kérem válasszon</option>
                                    <option value="Baktérium">Baktérium</option>
                                    <option value="kemiai">Kémiai</option>
                                </select>
                            </div>
                            <div class="form-group component-value">
                                <select>
                                    <option value=''>Kérem válasszon</option>
                                    <option value="Escherichia coli (E.coli)" class="Baktérium">Escherichia coli (E.coli)</option>
                                    <option value="Enterococcus" class="Baktérium">Enterococcus</option>
                                    <option value="Clostridium perfringens" class="Baktérium">Clostridium perfringens</option>
                                    <option value="Telepszám 22 ˚ C  - on" class="Baktérium">Telepszám 22 ˚ C - on</option>
                                    <option value="Telepszám   37 ˚ C – on " class="Baktérium">Telepszám 37 ˚ C – on </option>
                                    <option value="Coliform baktériumok" class="Baktérium">Coliform baktériumok </option>
                                    <option value="Pseudomonas aeruginosa" class="Baktérium">Pseudomonas aeruginosa</option>
                                    <option value="Mikroszkópos biológia" class="Baktérium">Mikroszkópos biológia</option>
                                    <option value="Legionella" class="Baktérium">Legionella</option>
                                    <option class="kemiai" val="Antimon">Antimon</option>
                                    <option class="kemiai" val="Arzén">Arzén</option>
                                    <option class="kemiai" val="Benzol">Benzol</option>
                                    <option class="kemiai" val="Benz(a)pirén*">Benz(a)pirén*</option>
                                    <option class="kemiai" val="Bór">Bór</option>
                                    <option class="kemiai" val="Kadmium">Kadmium</option>
                                    <option class="kemiai" val="Króm">Króm</option>
                                    <option class="kemiai" val="Réz">Réz</option>
                                    <option class="kemiai" val="Összes cianid">Összes cianid</option>
                                    <option class="kemiai" val="1,2-diklór-etán**">1,2-diklór-etán**</option>
                                    <option class="kemiai" val="Fluorid">Fluorid</option>
                                    <option class="kemiai" val="Ólom">Ólom</option>
                                    <option class="kemiai" val="Higany">Higany</option>
                                    <option class="kemiai" val="Nikkel">Nikkel</option>
                                    <option class="kemiai" val="Nitrát">Nitrát</option>
                                    <option class="kemiai" val="Nitrit">Nitrit</option>
                                    <option class="kemiai" val="Peszticidek  (10 db)">Peszticidek (10 db)</option>
                                    <option class="kemiai" val="Policiklikus aromás szénhidrogének (4 db)*">Policiklikus aromás szénhidrogének (4 db)*</option>
                                    <option class="kemiai" val="Szelén">Szelén</option>
                                    <option class="kemiai" val="Tetraklór-etilén és triklór –etilén**">Tetraklór-etilén és triklór –etilén**</option>
                                    <option class="kemiai" val="Összes trihalo-metán**">Összes trihalo-metán**</option>
                                    <option class="kemiai" val="Cisz-1,2-diklór-etilén**">Cisz-1,2-diklór-etilén**</option>
                                    <option class="kemiai" val="Kötött aktív klór">Kötött aktív klór</option>
                                    <option class="kemiai" val="Alumínium">Alumínium</option>
                                    <option class="kemiai" val="Ammónium">Ammónium</option>
                                    <option class="kemiai" val="Klorid">Klorid</option>
                                    <option class="kemiai" val="Fajl.el. vez.kép.">Fajl.el. vez.kép.</option>
                                    <option class="kemiai" val="pH">pH</option>
                                    <option class="kemiai" val="Vas">Vas</option>
                                    <option class="kemiai" val="Mangán">Mangán</option>
                                    <option class="kemiai" val="Kémiai oxigénigény(ps)">Kémiai oxigénigény(ps)</option>
                                    <option class="kemiai" val="Szulfát">Szulfát</option>
                                    <option class="kemiai" val="Lúgoság">Lúgoság</option>
                                    <option class="kemiai" val="Nátrium">Nátrium</option>
                                    <option class="kemiai" val="Összes szerves szén TOC">Összes szerves szén TOC</option>
                                    <option class="kemiai" val="Zavarosság">Zavarosság</option>
                                    <option class="kemiai" val="Össz.keménység">Össz.keménység</option>
                                    <option class="kemiai" val="Fenol index">Fenol index</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal-save" data-dismiss="modal">Mentés</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Vezetőképesség (MSZ EN 27888:1998) (µS/cm): </label>
                <input class="form-control" name="vezetokepesseg" data-name="vezetokepesseg" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Vízhőmérséklet (MSZ 260-2:1955) (°C): </label>
                <input class="form-control" name="vizhomerseklet" data-name="vizhomerseklet" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Üzemviteli és mintavételi körülmények, megjegyzések</label>
                <textarea name="uzemviteli" data-name="uzemviteli" class="form-control"></textarea>
                <div class="row">
                    <div class="col-sm-12">
                        <video class="video-uzemviteli" width="350" height="260" autoplay></video>
                        <span class="snap-uzemviteli btn btn-default">Fotó</span>
                        <canvas class="canvas-uzemviteli hidden" width="350" height="260"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <p><strong>Alkalmazott eszközök</strong></p>
                <label>Eszköz</label>
                <input disabled value="Kézi_pH/mV-mérő_ph_315_i" class="form-control static" name="egyeb_gep[]" data-name="egyeb1" />
                <input disabled value="Kézi_vezetőképesség-mérő_Cond_315_i" class="form-control static" name="egyeb_gep[]" data-name="egyeb2"/>
            </div>
        </div>
    </div>
    <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette1">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette2">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette3">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
        <div class="row">
            <label>Készítette</label>
            <select class="combobox" name="keszitette" data-name="keszitette4">
                <option value="">Válassz</option>
                <option value="Szenyán Zoltán">Szenyán Zoltán</option>
                <option value="Czap Zoltán">Czap Zoltán</option>
                <option value="Czap Gergely">Czap Gergely</option>
                <option value="Lovas Péter">Lovas Péter</option>
                <option value="Gyuricza Zsolt">Gyuricza Zsolt</option>
                <option value="Robotka Ernő Róbert">Robotka Ernő Róbert</option>
            </select>
        </div>
</div>
