<div class="doc-type" data-doc-type="szennyviz">
    <h2 style="text-align: center;">Mintavétel szennyvízből</h2>
    <p>Mintavétel helye:
        <name="mintavetel_helye" span class="mintavetel_helye">
            </span>
    </p>
    <p>Helység: <span class="mintavetel_helyszine"></span></p>
    <p>Mérési hely: <span class="meresi_hely"></span></p>
    <p>Mintavétel dátuma: <span class="datum"></span></p>
    <p>Mintavétel célja: <span class="mintavetel_celja"></span></p>
    <p>Mintavételi szabvány száma: MSZ ISO 5667-10:1995</p>
    <p>Mintavétel módszere: <span class="mintavetel_modszere"></span></p>
    <p style="margin-left: 20pt;">pontminta: <span class="pontminta"></span></p>
    <p style="margin-left: 20pt;">időarányos átlagminta: <span class="ido_atlag"></span></p>
    <p style="margin-left: 20pt;">hozamarányos átlagminta: <span class="hozam_atlag"></span></p>
    <p style="margin-left: 20pt;">Alkalmazott eszközök: <span class="alkalmazott"></span></p>
    <p>Vizsgálandó komponensek: <span class="komponensek_label" style="padding-right: 20px;"></span><span class="komponensek"> </span></p>
    <p>A tartósításra vonatkozó szabvány száma: MSZ EN ISO 5667-3:2004 (visszavont szabvány)</p>
    <p>A tartósítás módja: <span class="tartositas_modja"></span></p>
    <p>Minták jele: <span class="mintak_jele"></span></p>
    <p>pH (MSZ 1484-22:2009): <span class="ph"></span></p>
    <p>Vezetőképesség (MSZ EN 27888:1998) (µS/cm): <span class="vezetokep"></span></p>
    <p>Vízhőmérséklet (MSZ 448-2:1967 (visszavont szabvány)) (°C):<span class="vizhomersek"></span></p>
    <br style="page-break-before: always">
    <div><strong>Üzemviteli és mintavételi körülmények, megjegyzések</strong>
        <table>
            <tr>
                <td rowspan="10">
                    <p class="uzemviteli"></p>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <strong>Alkalmazott eszközök:</strong>
        <p>Rotaméter:<span class="rotameter"></span></p>
        <p>Barométer:<span class="barometer"></span></p>
        <p>Hőmérséklet, páratartalom és légsebesség mérő:<span class="homerseklet_paratartalom"></span></p>
        <p>Mikroszkóp:<span class="mikroszkop"></span></p>
        <p>A mintavétel ideje: <span class="datum"></span></p>
        <p>A mintavételt végző neve és aláírása: <span class="keszitette"></span></p>
        <br style="page-break-before: always">
    </div>
</div>
