<img src="/img/header.jpg">


<div class="form-container">
  <h1 class="text-center">Szálló rost koncentráció vizsgálata</h1>
  <form method="post" action="/zajos">
      <div class="row">
        <div class="form-group span6">
          <span>Mintavétel helyszíne</span>
          <input type="text" name="mintavetel_helyszine">
        </div>
        <div class="form-group span6">
          <span>Dátum</span>
          <input type="text" name="ďatum">
        </div>
      </div>
      <div class="row">
        <div class="form-group span6">
          <span>Mintavétel helye</span>
          <input type="text" name="mintavetel_helye">
        </div>
        <div class="form-group span6">
          <span>Minta száma</span>
          <input type="text" name="minta_szama">
        </div>
      </div>
      <div class="row">
        <div class="form-group span6">
          <span>Mintavevő típusa</span>
          <input type="text" name="mintavevo_tipusa">
        </div>
        <div class="form-group span6">
          <span>Mintavevő száma</span>
          <input type="text" name="vevo_szama">
        </div>
      </div>
      <div class="row">
        <div class="form-group span6">
          <span>Mintavétel módja</span>
          <input type="text" name="mintavetel_modja">
        </div>
        <div class="form-group span6">
          <span>Mintavétel időtartalma</span>
          <input type="text" name="idotartam">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <span>Mintán átáramló levegő térfogatárama: </span>
          <input type="text" name="levego_terfogat">
        </div>
      </div>
    </div>
      <button type="submit" class="btn">Submit</button>
  </form>
</div>

<div class="doc-container">
  <div class="doc-header">
    <h1 class="doc-header-title">KÖR-KER</h1>
    <p>Környezetvédelmi Szolgáltató és <br> Kereskedelmi Korlátolt Felelősségű Társaság</p>
  </div>
  <div class="doc-body">
    <h2 class="text-center">Mintavételi Jegyzőkönyv</h2>
    <p  class="text-center">Szálló rost koncentráció vizsgálatta</p>
  </div>
</div>
<div class="form-container">
  
</div>
