.doc-header p {
  display: inline-block;
}

.doc-body h2 {
  text-transform: uppercase;
}

.form-container {
  position: relative;
  padding-left: 35px;
  padding-top: 20px;
  border: 1px solid black;
  width: 780px;
}

.container-fluid-full {
  min-height: 3000px;
}

.form-container .table {
  width: 819px !important;
}

.form-container .table input {
  width: 70px;
}

.form-container .table th {
  font-size: 12px !important;
}

.table input {display: block; padding: 0; margin: 0; border: 0; width: 100%;}
.table td {margin: 0; padding: 0;}

.table .selectize-input {
  width: 80px;
}

.span12 {
  margin: 0 !important;
}

.input-append.mintavetel-ido {
  margin-bottom: -10px;
}

.form-type,
.doc-type {
  display: none;
}

.document-header table {
  width: 700px;
  margin: 0 auto;
}
.document-header table {
  font-family: aria;
  color: black;
}

.document-header table h1 {
  font-weight: bold;
  font-size: 3em;
}

.document-header table strong {
  font-size: 19px;
}

.document-header > p {
  font-size: 19px;
  font-family: aria;
  color: black;
}

.document-header .bordered {
  position: relative;
  font-size: 17px;
}

.document-header .bordered:before,
.document-header .bordered:after {
  content: '';
  position: absolute;
  width: 700px;
  height: 1px;
  top: 0;
  left: 230px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.document-header .bordered:after {
  bottom: 0;
  top: 17px;
}