body {
  position: relative;
}

#content {
  padding: 0 30px;
}

.left-menu {
  position: absolute;
  bottom: 0;
  top: 0;
  left: auto;
  background: rgba(0, 114, 45, 0.9);
}

.left-menu .nav.main-menu a {
  display: block;
  color: white;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}

.left-menu .nav.main-menu a:hover {
  background: rgba(0, 114, 45, 1);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.doc-header p {
  display: inline-block;
}

.doc-body h2 {
  text-transform: uppercase;
}


.form-container .table {
  width: 819px !important;
}

.form-container .table input {
  width: 70px;
}

.form-container .table th {
  font-size: 12px !important;
}

.table input {padding: 0; margin: 0;}
.table td {margin: 0; padding: 0;}

.table .selectize-input {
  width: 80px;
}

.span12 {
  margin: 0 !important;
}

.input-append.mintavetel-ido {
  margin-bottom: -10px;
}

.form-type,
.doc-type {
  display: none;
}

.document-header table {
  width: 700px;
  margin: 0 auto;
}
.document-header table {
  font-family: aria;
  color: black;
}

.document-header table h1 {
  font-weight: bold;
  font-size: 3em;
}

.document-header table strong {
  font-size: 19px;
}

.document-header > p {
  font-size: 19px;
  font-family: aria;
  color: black;
}

.document-header .bordered {
  position: relative;
  font-size: 17px;
}

.document-header .bordered:before,
.document-header .bordered:after {
  content: '';
  position: absolute;
  width: 700px;
  height: 1px;
  top: 0;
  left: 230px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.document-header .bordered:after {
  bottom: 0;
  top: 17px;
}

.has-padding {
  padding-left: 50px;
}

.hide-it {
  transition: all 1s;
  width: 0 !important;
  left: -50px;
}

#sidebarButton {
  background: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  color: white;
  padding: 10px;
  position: absolute;
  right: 50px;
}

.fullwidth-content {
  position: absolute;
  width: 100%;
  left: -200px;
}
